<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: 'Weekly Recap Dec 15-21, 2021 | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Weekly Recap Dec 15-21, 2021 | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-weekly-dec-15-21-2021.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Weekly Recap Dec 15-21, 2021 | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-weekly-dec-15-21-2021.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: 'header',
          settings: {
            title: 'Weekly Recap'
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Dec 15-21 / 2021",
              text: "Recaps are compiled by the @THORNOOBs team.",
              scrolls: [
                { text: "Dev Updates", id: "dev-updates" },
                { text: "Ecosystem Updates", id: "ecosystem-updates" },
                { text: "XDEFI", id: "xdefi-updates" },
                { text: "THORSwap", id: "thorswap-updates" },
                { text: "THORYield", id: "thoryield-updates" },
                { text: "Rango Exchange", id: "rango-updates" },
                { text: "THORWallet", id: "thorwallet-updates" },
                { text: "DefiSpot", id: "defispot-updates" },
                { text: "Swapagram", id: "swapagram-updates" },
                { text: "ASGARDEX", id: "asgardex-updates" },
                { text: "Ferz Wallet", id: "ferzwallet-updates" },
                { text: "Dragon's DEX", id: "dragons-updates" },
                { text: "THORGuards", id: "thorguards-updates" },
                { text: "THORChads DAO", id: "thorchadsdao-updates" },
                { text: "SKALD", id: "skald-updates" },
                { text: "Questions Asked", id: "questions-asked" },
                { text: "Feedback Received", id: "feedback-received" },
              ],
            },
            right: [
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Dev Updates",
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'THORChain MainNet', linkProps: this.$links('weekly_recap_dev_update_thorchain_mainnet_discussion_dec_15_21_2021')}, {text: 'Bond Rewards Relative to Bond Size (Capped)', linkProps: this.$links('weekly_recap_dev_update_bond_rewards_relative_bond_size')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Performance as Primary Factor for Churn', linkProps: this.$links('weekly_recap_dev_update_performance_primary_churn_factor')}, {text: 'Mimir Controls for Node Operators', linkProps: this.$links('weekly_recap_dev_update_mimir_controls_node_operators')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'ChaosNet v0.76 Launched', linkProps: this.$links('weekly_recap_dev_update_chaosnet_v0_76_launched')}, {text: 'StageNet is Coming', linkProps: this.$links('weekly_recap_dev_update_stagenet_is_coming')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'ZEC Integration in Works', linkProps: this.$links('weekly_recap_dev_update_zec_integration_in_works')}, {text: 'Chain-ID for Easier Soft/Hardfork', linkProps: this.$links('weekly_recap_dev_update_chain_id_for_easier_fork')}]
                  }
                ]
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORChain\nMonthly Stats (November)",
                      img: require("~/assets/images/highlights/thorchain-monthly-stats-november.png"),
                      linkProps: this.$links("highlights_thorchain_monthly_stats_november"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain\nWhat's Next?",
                      img: require("~/assets/images/highlights/thorchain-pillars.png"),
                      linkProps: this.$links("highlights_thorchain_whats_next"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain Infobot\nBlock / Minute Chart is Live",
                      img: require("~/assets/images/highlights/thorchain-infobot-block-minute.png"),
                      linkProps: this.$links("highlights_thorchain_infobot_block_minute_is_live"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain\nNew Pie-Chart Showing Asset\nLiquidity Share",
                      img: require("~/assets/images/highlights/thorchain-new-pie-chart-showing-asset-liquidity-share.png"),
                      linkProps: this.$links("highlights_thorchain_pie_chart_showing_asset_liquidity_share"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain\n$500K Bounty Awarded for\nCritical TSS Bug",
                      img: require("~/assets/images/highlights/thorchain-immunefi.png"),
                      linkProps: this.$links("highlights_thorchain_500k_bug_bounty_awarded_tss_bug"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain\nDev Update #118-119",
                      img: require("/assets/images/highlights/thorchain-dev.png"),
                      linkProps: this.$links("highlights_thorchain_dev_update_118-119"),
                    },
                    {
                      mode: "highlight",
                      text: "Community\nNew THORChain Wallpaper",
                      img: require("~/assets/images/highlights/community-background-degencreation.png"),
                      linkProps: this.$links("highlights_community_new_thorchain_wallpaper_degencreation"),
                    },
                    {
                      mode: "highlight",
                      text: "THORChain\nProtocol Processed 1M\nSwap Transactions",
                      img: require("~/assets/images/highlights/thorchain-1m.png"),
                      linkProps: this.$links("highlights_thorchain_protocol_processes_1m_swaps"),
                    },
                    {
                      mode: "highlight",
                      text: "0xVentures DAO\nWhy Does BEP2 & ERC20\nRUNE Price Differs from\nNative THOR.RUNE?",
                      img: require("~/assets/images/highlights/0xventuresdao.png"),
                      linkProps: this.$links("highlights_0xventuresdao_why_rune_price_differs"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nCollaboration with CoinGecko\nfor NFT Giveaway",
                      img: require("/assets/images/highlights/xdefi-coingecko-nft-contest.png"),
                      linkProps: this.$links("highlights_xdefi_collaboration_coingecko_nft_giveaway"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nVersion 10.0 Released",
                      img: require("/assets/images/highlights/xdefi-squid.png"),
                      linkProps: this.$links("highlights_xdefi_version_10_0_released"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\n@archon_0x Joins as\nContent Writer",
                      img: require("~/assets/images/highlights/xdefi-archon_0x.png"),
                      linkProps: this.$links("highlights_xdefi_archon_0x_joins_as_content_writer"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nProposal for Pools on Pylon\nProtocol Passed",
                      img: require("~/assets/images/highlights/xdefi-pylon-protocol.png"),
                      linkProps: this.$links("highlights_xdefi_proposal_pools_pylon_protocol_passed"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nAMA with @goitbykojiro &\nthe DefiSpot Team",
                      img: require("~/assets/images/highlights/xdefi-goitbykojiro-defispot.png"),
                      linkProps: this.$links("highlights_ama_gotitbykojiro_and_defispot_dec_6_2021"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nVoxie NFT Contest",
                      img: require("~/assets/images/highlights/xdefi-voxie-nft-contest.png"),
                      linkProps: this.$links("highlights_xdefi_voxie_nft_contest"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nHiring a Scrum Master",
                      img: require("~/assets/images/highlights/xdefi-fish.png"),
                      linkProps: this.$links("highlights_xdefi_hiring_scrum_master"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet\nCommunity AMA with XDEFI\nCEO",
                      img: require("~/assets/images/highlights/xdefi-goitbykojiro.png"),
                      linkProps: this.$links("highlights_xdefi_ama_gotitbykojiro_dec_9_2021"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORSwap\nPartnership with\nOlympusDAO",
                      img: require("~/assets/images/highlights/thorswap-olympus-partnership.png"),
                      linkProps: this.$links("highlights_thorswap_partnership_olympusdao"),
                    },
                    {
                      mode: "highlight",
                      text: "THORSwap\nDiscord AMA with\nOlympusDAO & NineRealms",
                      img: require("~/assets/images/highlights/thorswap-olympus-ninerealms.png"),
                      linkProps: this.$links("highlights_thorswap_ama_olympusdao_ninerealms_dec_8_2021"),
                    },
                    {
                      mode: "highlight",
                      text: "THORSwap\nChanges Summary",
                      img: require("~/assets/images/highlights/thorswap.png"),
                      linkProps: this.$links("highlights_thorswap_changes_summary_dec_11_2021"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORYield\nTransaction Tracker Now Live",
                      img: require("~/assets/images/highlights/thoryield.png"),
                      linkProps: this.$links(""),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "Rango Exchange\nRaises $1M from Strategic\nInvestors",
                      img: require("/assets/images/highlights/rango.png"),
                      linkProps: this.$links("highlights_rango_raises_1m"),
                    },
                    {
                      mode: "highlight",
                      text: "Rango Exchange\nAnyswap Integration",
                      img: require("/assets/images/highlights/rango-anyswap.png"),
                      linkProps: this.$links("highlights_rango_anyswap_integration"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORWallet\nLearn How Each Download\nIncreases TGT Value",
                      img: require("/assets/images/highlights/thorwallet-iphone.png"),
                      linkProps: this.$links("highlights_thorwallet_how_downloads_increase_tgt_value"),
                    },
                    {
                      mode: "highlight",
                      text: "THORWallet\nUser Growth After 1 Week in\nthe Apple Store",
                      img: require("/assets/images/highlights/thorwallet-app-store.png"),
                      linkProps: this.$links("highlights_thorwallet_user_growth_1_week_apple_store"),
                    },
                    {
                      mode: "highlight",
                      text: "THORWallet\nWeekly AMA Recap",
                      img: require("/assets/images/highlights/thorwallet.png"),
                      linkProps: this.$links("highlights_thorwallet_ama_recap_dec_10_2021"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "DefiSpot\nIDO Rescheduled for Q1 2022",
                      img: require("/assets/images/highlights/defispot-gate.png"),
                      linkProps: this.$links("highlights_defispot_ido_rescheduled_q1_2022"),
                    },
                    {
                      mode: "highlight",
                      text: "DefiSpot\nSPOT will be a CW Token",
                      img: require("/assets/images/highlights/defispot-spot-token.png"),
                      linkProps: this.$links("highlights_defispot_spot_will_be_cw_token"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "Swapagram\nTestflight is Live",
                      img: require("/assets/images/highlights/swapagram-testflight.png"),
                      linkProps: this.$links("highlights_swapagram_testflight"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "ASGARDEX\nNew Churn-Countdown Tool",
                      img: require("/assets/images/highlights/asgardex.png"),
                      linkProps: this.$links("highlights_asgardex_new_churn_countdown_tool"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "Ferz Wallet\nDark Theme on Mobile",
                      img: require("/assets/images/highlights/ferz-wallet.png"),
                      linkProps: this.$links("highlights_ferz_wallet_dak_theme_mobile"),
                    },
                    {
                      mode: "highlight",
                      text: "Ferz Wallet\nFear & Green Index in Wallet",
                      img: require("~/assets/images/highlights/ferz-wallet-fear-greed-index.png"),
                      linkProps: this.$links(""),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "Dragon's DEX\nVersion 1.1.0 Released",
                      img: require("~/assets/images/highlights/dragons-dex.png"),
                      linkProps: this.$links(""),
                    },
                    {
                      mode: "highlight",
                      text: "Dragon's DEX\nNow Available for iOS",
                      img: require("~/assets/images/highlights/dragons-dex-app-store.png"),
                      linkProps: this.$links("highlights_ferz_wallet_fear_greed_index"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORGuards\nNFT Weapons Are Coming",
                      img: require("~/assets/images/highlights/thorguards-nft-weapons.png"),
                      linkProps: this.$links("highlights_thorguards_nft_weapons_coming"),
                    },
                    {
                      mode: "highlight",
                      text: "THORGuards\nArcher Giveaway",
                      img: require("~/assets/images/highlights/thorguards-archer-giveaway.png"),
                      linkProps: this.$links("highlights_thorguards_archer_giveaway"),
                    },
                    {
                      mode: "highlight",
                      text: "THORGuards\nEcosystem-Wide Easter Egg\nHunt",
                      img: require("~/assets/images/highlights/thorguards-ecosystem-egg-hunt.png"),
                      linkProps: this.$links("highlights_thorguards_easter_egg_hunt"),
                    },
                    {
                      mode: "highlight",
                      text: "THORGuards\nBNPL Pay NFT Giveaway",
                      img: require("~/assets/images/highlights/thorguards-bnpl-pay.png"),
                      linkProps: this.$links("highlights_thorguards_bnpl_pay_nft_giveaway"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "THORChads DAO\nWhy is the DAO Rewarding\nIts Community?",
                      img: require("~/assets/images/highlights/thorchads-dao.png"),
                      linkProps: this.$links("highlights_thorchads_dao_why_rewarding_its_community"),
                    },
                  ],
                },
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "highlight",
                      text: "SKALD\nTHORNOOBs Merging into\nTHORChain.org",
                      img: require("~/assets/images/highlights/thornoobs.png"),
                      linkProps: this.$links("highlights_skald_thornoobs_merging_into_thorchain_org"),
                    },
                    {
                      mode: "highlight",
                      text: "SKALD\nAttribute Testing Begins",
                      img: require("~/assets/images/highlights/attribute.png"),
                      linkProps: this.$links("highlights_skald_attribute_testing_begins"),
                    },
                  ],
                },
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Questions Asked",
                    text: "Q. When THORChain MainNet?\nA. Depends on the progress of the milestones linked in the thread below."
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Show This Thread",linkProps: this.$links('weekly_recap_questions_asked_when_mainnet')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/highlights/thorchain-mainnet.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#000B12",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Feedback Received",
                    text: "Re: Lending and Collateral in THORFi. It's been suggested to not implement this proposal, and rather hire lending protocol experts for deep-discussion."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Feedback', linkProps: this.$links('')}, {text: 'Response', linkProps: this.$links('weekly_recap_feedback_response_lending_collateral_in_thorfi')}]
                  },
                  {
                    component: "text",
                    text: "\nRe: Inefficient liquidity pools. Various discussions on $THOR & $XRUNE pool being inefficient. Ie, having deep liquidity but no swap volume. The THORSwap team took their feedback in consideration and various changes were made. Read the thread below."
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Show This Thread",linkProps: this.$links('weekly_recap_feedback_received_thorswap_inefficient_liquidity_pools')}],
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  }
}
</script>

<style>

</style>