<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: 'Arbitrageurs | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Arbitrageurs | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-arbitrageurs.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Arbitrageurs | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-arbitrageurs.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: 'header',
          settings: {
            title: 'Arbitrageurs'
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Video Explainer", id: "videos" },
                { text: "Profitability", id: "profitability" },
                { text: "Development Basics", id: "development_basics" },
                { text: "Project Funding", id: "funding"}
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/arbitrageurs/main.png"),
                positionRight: "-20px",
                positionTop: "50%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "Prices on THORChain are maintained by profit-seeking traders. Traders find assets that are mispriced between markets. They buy assets on markets with low prices and sell them on markets with high prices. This earns them a profit.",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'How it Works', linkProps: this.$links('arbitrageurs_thorchain_docs_how_it_works')}, {text: 'Impact of Liquidity', linkProps: this.$links('arbitrageurs_thorchain_docs_impact_of_liquidity')}]
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain Arbitraging Explained",
                    text: "Video length: 7m 58s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/arbitrageurs/video-arbitraging-explained.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "eCH_-oiNwmo",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Is Arbitraging Profitable?",
                    text: "THORChain held a contest in 2020. An analysis of the top arbitrageurs indicated ‘QMJ’ has made over half a million USD profit over a period of 3 months."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Trading Competition Results', linkProps: this.$links('arbitrageurs_medium_trading_competition_results')}]
                  }
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Arbitraging Bot Development Basics",
                    text: "• Import wallet keys locally\n• Compare markets, log opportunities\n• Open and close orders to take tradesn\n• Log a running PnL"
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Connecting to THORChain', linkProps: this.$links('arbitrageurs_thorchain_docs_connecting_to_thorchain')}, {text: 'Open-source Bots', linkProps: this.$links('arbitrageurs_medium_open_source_bots')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Need Funding?",
                    text: "Are you a developer / entrepreneur with big ambitions and the necessary skills to write a top-notch arbitraging bot for the THORChain network? Prove it by build a profitable proof of concept. Join the THORChain dev community and show off your work. Maybe you'll catch the attention of someone, and be offered a grant to strenghten your operations."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Project Funding', linkProps: this.$links('slash_project_funding')}]
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  }
}
</script>

<style>

</style>