<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>

export default {
  head: {
    title: 'Developers | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Developers | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-developers.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Developers | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-developers.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Developers",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Protocol", id: "protocol" },
                { text: "Ecosystem", id: "ecosystem" },
                { text: "Chain Client", id: "chain-client" },
                { text: "Project Funding", id: "project-funding" },
              ],
            },
            right: [
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Protocol Developers',
                  text: 'THORChain core protocol developers have a deep understanding of the many facets of the protocol, which includes THORNodes, Dev Ops, Bifröst, MIDGARD, TSS, THORFi and the Economic Design of the network.'
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'GitLab',linkProps: this.$links('developers_gitlab')}, {text: 'TSS',linkProps: this.$links('slash_technology')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'THORNodes',linkProps: this.$links('slash_node_operators')}, {text: 'Developer Discord',linkProps: this.$links('developers_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'THORfi',linkProps: this.$links('slash_thorfi')}]
                }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Ecosystem Developers',
                  text: 'Ecosystem developers typically write dApps like dashboards, explorers, wallets, interfaces -- but also enrich libraries and hunt for bug bounties to help secure the network.'
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Integration Overview',linkProps: this.$links('developers_thorchain_docs_integration_overview')}, {text: 'Libraries',linkProps: this.$links('developers_thorchain_docs_libraries')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Connecting to THORChain',linkProps: this.$links('developers_thorchain_docs_connecting_to_thorchain')}, {text: 'Ecosystem',linkProps: this.$links('slash_ecosystem')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Transaction Memos',linkProps: this.$links('developers_thorchain_docs_transaction_memos')}, {text: 'Developer Discord',linkProps: this.$links('developers_discord')}]
               }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Chain Client Developers',
                  text: 'Chain clients are maintained by the community. The network currently supports BTC, ETH, LTC, BNB, BCH.'
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Chain Clients Overview',linkProps: this.$links('developers_thorchain_docs_chain_clients_overview')}, {text: 'BFT Chains',linkProps: this.$links('developers_thorchain_docs_bft_chains')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'UTXO Chains',linkProps: this.$links('developers_thorchain_docs_utxo_chains')}, {text: 'Propose a Chain',linkProps: this.$links('developers_propose_chain_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'EVM Chains',linkProps: this.$links('developers_thorchain_docs_evm_chains')}, {text: 'Developer Discord',linkProps: this.$links('developers_discord')}]
                },
                {
                  component: "divider",
                },
                {
                  component: 'text',
                  title: 'Community Chain Chats'
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Arbitrum',linkProps: this.$links('developers_arbitrum_discord')}, {text: 'IBC Chains',linkProps: this.$links('developers_ibc_chains_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Avalanche',linkProps: this.$links('developers_avalanche_discord')}, {text: 'Matic',linkProps: this.$links('developers_matic_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Binance Smart Chain',linkProps: this.$links('developers_binance_smart_chain_chain_discord')}, {text: 'Monero',linkProps: this.$links('developers_monero_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Dash',linkProps: this.$links('developers_dash_discord')}, {text: 'Rootstock Sovryn',linkProps: this.$links('developers_sovryn_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Decred',linkProps: this.$links('developers_decred_discord')}, {text: 'Solana',linkProps: this.$links('developers_solana_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Doge Coin',linkProps: this.$links('developers_doge_coin_discord')}, {text: 'Polkadot',linkProps: this.$links('developers_polkadot_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Firo',linkProps: this.$links('developers_firo_discord')}, {text: 'Zcash',linkProps: this.$links('developers_zcash_discord')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Haven',linkProps: this.$links('developers_haven_discord')}, {text: 'Zilliqa',linkProps: this.$links('developers_zilliqa_discord')}]
                }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Need Funding?',
                  text: 'THORChain core protocol developers have a deep understanding of the many facets of the protocol, which includes THORNodes, Dev Ops, Bifröst, MIDGARD, TSS, THORFi and the Economic Design of the network.'
                },
                {
                  component: 'button',
                  mode: 'full',
                  buttons: [{text: 'Project Funding',linkProps: this.$links('slash_project_funding')}]
                }],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>
