<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("Papers, Audits and Reports"),
            avatar: require("~/assets/images/tech-view/avatar-audit.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("A breadth of research went into THORChain. Browse the library of papers, audits and reports completed.")],
            },
            {type: 'table-links', links: [
              {text: i18n.t("Papers ↴")},
              {text: i18n.t("Cryptoeconomics Paper"), link: $links('document_library_github_cryptoeconomics_paper')},
              {text: i18n.t("TSS Benchmark-GGG18"), link: $links('document_library_github_tss_benchmark_ggg18')},
              {text: i18n.t("TSS Whitepaper"), link: $links('document_library_github_tss_whitepaper')},
              {text: i18n.t("Whitepaper"), link: $links('document_library_github_whitepaper')},
            ]},
            {type: 'table-links', links: [
              {text: i18n.t("Audits ↴")},
              {text: i18n.t("Certik Code Review"), link: $links('document_library_github_certik_code_review')},
              {text: i18n.t("Gauntlett Economic Security Review"), link: $links('document_library_github_gauntlett_economic_security_review')},
              {text: i18n.t("Kudelski TSS Audit"), link: $links('document_library_github_kudelski_tss_audit')},
              {text: i18n.t("Halborn Security Audit"), link: $links('document_library_github_halborn_security_audit_july_28_2021_september_6_2021')},
            ]},
            {type: 'table-links', links: [
              {text: i18n.t("Reports ↴")},
              {text: i18n.t("Greymatter Research 🔥"), link: $links('document_library_greymatter_research_report')},
              {text: i18n.t("Multicoin Capital"), link: $links('document_library_mutlicoin_capital_report')},
              {text: i18n.t("Erik Voorhees 🔥"), link: $links('document_library_erik_voorhees_report')},
              {text: i18n.t("Delphi Digital 🔥"), link: $links('document_library_delphi_digital_report')},
              {text: i18n.t("Coin Bureau"), link: $links('document_library_coin_bureau_report')},
              {text: i18n.t("Rebase Foundation"), link: $links('document_library_rebase_foundation_report')},
              {text: i18n.t("Binance Research"), link: $links('document_library_binance_research_report')},
              {text: i18n.t("SEBA Bank 🔥"), link: $links('document_library_seba_bank_report')},
              {text: i18n.t("Messari 🔥"), link: $links('document_library_messari_report')},
              {text: i18n.t("Blockfyre"), link: $links('document_library_blockfyre_report')}
            ]},
            {type: 'table-links', links: [
              {text: i18n.t("Missing content? ↴")},
              {text: i18n.t("Tip us on Twitter"), link: $links('document_library_skald_feedback')}
            ]},
          ],
          endLine: false,
        }
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
