<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
export default {
  data() {},
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
          {
          thread: false,
          header: {
            text: i18n.t("Security & Solvency"),
            avatar: require("~/assets/images/home-page/avatar-shield.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("The network is fully transparent on its security practices. Solvency can be fully verified on-chain. No black boxes.")] },
            {type: 'table-links', links: [
              {text: i18n.t("Latest Security Update"), link: $links('security_solvency_halborn_update')},
              {text: i18n.t("Bug Bounty Program"), link: $links('security_solvency_immunefi_bug_bounty')},
              {text: i18n.t("Verify Solvency"), link: $links('security_solvency_thorchain_network_verify_solvency')}
            ]}
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
