<template>
  <div class="menu-content-sized-container">
    <sub-main :contents="contents"> </sub-main>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Project Funding | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Project Funding | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-project-funding.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Project Funding | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-project-funding.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Project Funding",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Prove It First",
              text: "We recommend for teams to develop proof-of-concepts first, get traction within the ecosystem — and then seek funding.",
              scrolls: [
                { text: "Treasury", id: "treasury" },
                { text: "THORStarter", id: "thorstarter" },
                { text: "Community", id: "community" },
              ],
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain Treasury",
                    text: "The first and most common way to get your project funded is to build a proof of concept (POC), get some traction within the THORChain ecosystem/community, and develop a proposal for some seed funding by the THORChain treasury.\n\nShow off your POC on Twitter / Discord (dev community) and get some feedback early from the community. Proposals are welcome in the THORChain Discord dev channels linked above. Many of the ecosystem initiatives have been at least partially funded by the THORChain treasury until they were able to stand on their own feet.",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('project_funding_thorchain_dev_discord')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Blog",linkProps: this.$links('project_funding_thorchain_blog')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/project-funding/thorchain-treasury.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#000B12",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORStarter",
                    text: "THORStarter is an IDO launchpad which launch and help bootstrap liquidity for the most promising projects across DeFi and THORfi. Many THORChain interfaces are planning IDO's with THORStarter.",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Website",linkProps: this.$links('project_funding_thorstarter_website')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('project_funding_thorstarter_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('project_funding_thorstarter_telegram')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('project_funding_thorstarter_discord')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Blog",linkProps: this.$links('project_funding_thorstarter_blog')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/project-funding/thorstarter.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#000B12",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain Community",
                    text: "We've seen cases where community-driven organizations and members fund projects themselves. Be friendly and make friends the community. You never know who you'll cross that mind find your ideas interesting.",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('project_funding_thorchain_community_telegram')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('project_funding_thorchain_dev_discord')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/project-funding/thorchain-community.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#000B12",
                      objectFit: "none",
                    },
                  },
                ],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>