<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>

export default {
  head: {
    title: 'Technology | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Technology | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-technology.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Technology | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-technology.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Technology"
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Comparison", id: "comparison" },
                { text: "Contribute", id: "contribute" }
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/technology/main.png"),
                positionRight: "0px",
                positionTop: "20%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "THORChain is a leaderless vault manager. 1-way state pegs allow syncing state from external chains. A state machine coordinates asset exchange logic and delegates redemptions. Bifröst chain clients convert redemptions into chain-specific transactions. A TSS protocol enables distributed threshold key-signing.",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Bifröst Protocol', linkProps: this.$links('technology_thorchain_docs_technology_bifrost')}, {text: 'Signer', linkProps: this.$links('technology_thorchain_docs_technology_signer')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'State Machine', linkProps: this.$links('technology_thorchain_docs_technology_state_machine')}, {text: 'Vaults', linkProps: this.$links('technology_thorchain_docs_technology_vaults')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'THORChain Rewires Liquidity',
                  text: 'Your dormant assets should create new value for you. THORChain creates that utility.'
                },
                {
                  component: 'table',
                  cols: ['Versus', {text: 'THORChain', style: 'color: #23DCC8; text-align: center'}, {text:  'CEX', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Native Assets', {text:  '✅', style: 'text-align: center;'}, {text:  '✅', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Supported Chains', {text:  'BTC / ETH / LTC / BNB / BCH', style: 'color: #23DCC8; text-align: center;'}, {text:  'Varies', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Settlement', {text:  'Seconds', style: 'color: #23DCC8; text-align: center;'}, {text:  'Seconds', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Deposit Incentives', {text:  'Yes LP\'s Earn Fees', style: 'color: #23DCC8; text-align: center;'}, {text:  '❌', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Asset Distribution', {text:  'Anon THORNodes', style: 'color: #23DCC8; text-align: center;'}, {text:  'At Best Multisig?', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Vault Theft Vector', {text:  'Economically Unviable', style: 'color: #23DCC8; text-align: center;'}, {text:  'Heard of Quadriga?', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['On-Chain', {text:  '✅', style: 'text-align: center;'}, {text:  '❌', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Verifiable Solvency', {text:  '✅', style: 'text-align: center;'}, {text:  '❌', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Non-Custodial', {text:  '✅', style: 'text-align: center;'}, {text:  '❌', class: 'center'}]
                },
                {
                  component: 'table',
                  cols: ['Liquidity Access', {text:  'Multiple Interfaces / TX Memos', style: 'color: #23DCC8; text-align: center;'}, {text:  'Single Entity', class: 'center'}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Whats an LP?',linkProps: this.$links('')}, {text: 'Verify Vaults',linkProps: this.$links('technology_viewblock_verify_vaults')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Papers, Audits & Reports',linkProps: this.$links('slash_document_library')}, {text: 'Interfaces',linkProps: this.$links('slash_interfaces')}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'Verify Solvency',linkProps: this.$links('technology_thorchain_network_verify_solvency')}]
                }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Can I Contribute to its Development?',
                  text: 'THORChain is open-source. Any developer interested in developing the protocol, ecosystem or supporting a new chain client can join the community.'
                },
                {
                  component: 'button',
                  mode: 'full',
                  buttons: [{text: 'Developers',linkProps: this.$links('slash_developers')}]
                }],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>