<template>
  <div class="small-divider"></div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.small-divider {
    min-width: 100%;
    height: 1.25rem; // 20px
}
</style>