<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
import { fetchRuneViewData } from './../../../utils/commonFunctions';
import utils from "../../../utils";
export default {
  fetchKey: 'slash-rune',
  async fetch() {
    let runeLocked, circulatingSupplyTxt, MCCN, markets, ERC20Markets;

    try {
      ({ runeLocked, circulatingSupplyTxt, MCCN } = await fetchRuneViewData(this.$services));
      this.runeLocked = runeLocked;
      this.nonRuneTvl = MCCN.nonRuneTVLTxt;
      this.circulatingSupplyTxt = circulatingSupplyTxt;
      this.dtRunePrice = (3*Number.parseFloat(this.nonRuneTvl)) / Number.parseFloat(this.circulatingSupplyTxt);
    } catch (e) {
      console.error(e)
    }

    try {
      ({ markets } = await this.$services.getCoingeckoData().catch(e => console.error(e)));
    } catch (e) {
      console.error(e)
    }

    ERC20Markets = await this.$services.getERC20Markets().catch(e => console.error(e));

    this.AllMarkets = await this.$services.getAllMarkets().catch(e => console.error(e));

    if (MCCN && MCCN.pools) {
      this.pools = MCCN.pools;
    } else {
      let res = await this.$axios.get('https://midgard.thorchain.info/v2/' + 'pools')
      this.pools = res.data;
    }

    markets.push(...ERC20Markets.sort((a, b) => b.volume - a.volume).splice(0, 5))
    markets = markets.filter((e) => e.market !== 'THORChain')

    if (markets) {
      for (var i in markets) {
        markets[i]["key"] = JSON.stringify(markets[i]);
  
        if(markets[i].pair.length > 20) markets[i].pair = markets[i].pair.substr(0,15) +"..."
        if (this.nFormat) {
          markets[i]["volume"] = utils.nFormatter(parseInt(markets[i]["volume"]));
        } else {
          markets[i]["volume"] = utils.numberWithCommas(
            parseInt(markets[i]["volume"])
          );
        }
        markets[i]["depth_up"] = utils.numberWithCommas(
          parseInt(markets[i]["depth_up"])
        );
        markets[i]["depth_down"] = utils.numberWithCommas(
          parseInt(markets[i]["depth_down"]) 
        );
      }

      this.marketTrade = markets.slice(0, 12) // default rows
    }

  },
  activated() {
    //refresh the data every 5 mins
    if (this.$fetchState.timestamp <= Date.now() - 5*60*1000) {
      this.$fetch()
    }
  },
  head: {
    title: 'RUNE Token | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "RUNE Token | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-rune-token.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "RUNE Token | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-rune-token.png",
        },
      ],
  },
  data() {
    return {
      marketTrade: [],
      circulatingSupplyTxt: '999,999',
      nonRuneTvl: '$999,999,999 USD',
      runeLocked: '~30',
      AllMarkets: undefined,
      pools: undefined,
      dtRunePrice: undefined,
      contents: [
        {
          component: 'header',
          settings: {
            title: 'RUNE Token'
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Deterministic Value", id: "determiniatic-value" },
                { text: "", id: "determiniatic-value-simulator" },
                { text: "TVL Influencers", id: "tvl-influencers" },
                { text: "Current non-RUNE TVL", id: "non-rune-tvl" },
                { text: "RUNE Issuance", id: "rune-issuance"},
                { text: "Upgrade to THOR.RUNE", id: "upgrade-to-thor-rune"},
                { text: "Trade RUNE", id: "trade-rune"},
                { text: "Store RUNE", id: "store-rune"},
                { text: "Contribute", id: "contribute"},
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/rune/main.png"),
                positionRight: "0px",
                positionTop: "65%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "RUNE is the asset which powers the THORChain ecosystem and provides the economic incentives required to secure the network economically.",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Liquidity', linkProps: this.$links('rune_thorchain_docs_rune_liquidity')}, {text: 'Incentives', linkProps: this.$links('rune_thorchain_docs_rune_incentives')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Security', linkProps: this.$links('rune_thorchain_docs_rune_security')}, {text: 'Emissions', linkProps: this.$links('rune_thorchain_docs_emissions')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Governance', linkProps: this.$links('rune_thorchain_docs_rune_governance')}, {text: 'Schedule', linkProps: this.$links('rune_google_docs_emission_schedule')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "RUNE Aiming for Deterministic Value",
                    text: "If over 80% of circulating RUNE gets locked into THORChain liquidity pools, by economic design RUNE's market cap should be a minimum 3X the value of all non-RUNE assets locked into THORChain liquidity pools.\n\nTHORChain currently supports the following non-RUNE assets: BTC, ETH, BNB, BCH, LTC.\n\nThe more RUNE hodlers provide liquidity with their RUNE, the more accurate deterministic RUNE becomes. Assuming 80% of circulating RUNE is locked into THORChain, you can simulate various outcomes for RUNE's price based on the future Total Value Locked (TVL) in THORChain and asset prices on that day.\n\n$RUNELOCKED% of circulating RUNE is locked into THORChain."
                  },
                ]
              },
              {
                component: 'self',
                name: 'simulator',
                settings: {}
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "What Influences TVL?",
                    text: "THORChain interfaces are used by Liquidity Providers to deposit their assets into liquidity pools in order to earn yield.\n\nThe better these interfaces do at user experience, user interface designs, marketing etc, the higher their chances of attracting deposits into THORChain.\n\nIt's important for the THORChain community to support interfaces in order to help grow the TVL in the network."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Interfaces', linkProps: this.$links('slash_interfaces')}, {text: 'Liquidity Providers', linkProps: this.$links('slash_liquidity_providers')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "What’s THORChain’s non-RUNE TVL?",
                    text: "THORChain is still in ChaosNet. At MainNet caps will be removed allowing an unlimited amount of value to enter the network."
                  },
                  {
                    component: 'table',
                    cols: ['Non-RUNE TVL:', '$999,999,999 USD']
                  },
                  {
                    component: 'table',
                    cols: ['RUNE Circulating Supply:', '999,999']
                  },
                  {
                    component: 'table',
                    cols: ['Current RUNE Deterministic Value:', '$2 USD']
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Where is RUNE Issued?",
                    text: "During its original distribution phase, RUNE was issued on BNB chain. That's why today you'll see the most most liquidity for RUNE on exchanges as BNB.RUNE. Later ETH.RUNE was issued in order to provision liquidity on Sushi.\n\nAs THORChain rolled out multi-chain, native RUNE known as THOR.RUNE became available. Native THOR.RUNE is issued on its own chain, and is exclusively available via THORChain interfaces. If you buy BNB.RUNE off an exchange, or ETH.RUNE via a DEX, you can convert your BNB.RUNE or ETH.RUNE to native THOR.RUNE via THORChain interfaces.\n\nYour balance address tells you which RUNE you have:"
                  },
                  {
                    component: 'table',
                    cols: ['Issued Chain', 'Address Starts With']
                  },
                  {
                    component: 'table',
                    cols: ['Binance (BNB)', 'bnb...']
                  },
                  {
                    component: 'table',
                    cols: ['Ethereum (ETH)', 'eth...']
                  },
                  {
                    component: 'table',
                    cols: ['THORChain (THOR)', 'thor...']
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Upgrade to THOR.RUNE",
                    text: "If you want to participate in THORChain liquididty pools, you must enter positions with the native THOR.RUNE. Some interfaces allow you to enter liquidity pooling positions assymetrically, this means that you deposit only your BTC, ETH, BNB, LTC or BCH. In that case, the network automatically sells 50% of your asset for THOR.RUNE. On withdrawal, the interface will also sell your THOR.RUNE back into your original asset.\n\nYou can upgrade your BNB.RUNE or ETH.RUNE to THOR.RUNE via a variety of THORChain ecosystem interfaces."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Interfaces', linkProps: this.$links('slash_interfaces')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Where Can I Trade THOR.RUNE?",
                    text: "If you want to trade native THOR.RUNE, you'll have to use one of the ecosystem interfaces."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'THORSwap', linkProps: this.$links('slash_interfaces_links_thorswap')}, {text: 'SKIP Exchange', linkProps: this.$links('slash_interfaces_links_skip')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'ASGARDEX Desktop', linkProps: this.$links('slash_interfaces_links_asgardex')}, {text: 'Brokkr', linkProps: this.$links('slash_interfaces_links_brokkr')}]
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Interfaces', linkProps: this.$links('slash_interfaces')}]
                  },
                  {
                    component: "divider",
                  },
                  {
                    component: "text",
                    title: "Where Can I Trade BNB.RUNE?",
                    text: "If you want to trade native BNB.RUNE or ETH.RUNE, you can use the various markets listed below."
                  },
                  {
                    component: 'table',
                    cols: ['Exchange', 'Pair', {text: 'Price', style: 'text-align: center'}, '24HV']
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Where Can I Store RUNE?",
                    text: "We recommend XDEFI Wallet. It supports mutliple chains and most THORChain interfaces support the hot wallet. Although if you plan to swap/pool on mobile, you're better off exploring the various THORChain interfaces instead as XDEFI doesn't support mobile yet."
                  },
                  {
                    component: "button",
                    buttons: [{ text: "XDEFI Wallet",linkProps: this.$links('slash_wallets_xdefi')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Wallets",linkProps: this.$links('slash_wallets')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Interfaces",linkProps: this.$links('slash_interfaces')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/wallets/xdefi.svg"),
                    positionRight: "-130px",
                    positionTop: "60px",
                    extraCSS: {
                      background:
                        "linear-gradient(180deg, #203FE0 18%, #101A56 100%)",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Can I Contribute to Development?",
                    text: "THORChain is open-source. Any developer interested in developing the protocol, ecosystem or supporting a new chain client can join the community."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Developers', linkProps: this.$links('slash_developers')}]
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  },
  watch: {
    runeLocked: function(val, old) {
      try {
        let text = "If over 80% of circulating RUNE gets locked into THORChain liquidity pools, by economic design RUNE's market cap should be a minimum 3X the value of all non-RUNE assets locked into THORChain liquidity pools.\n\nTHORChain currently supports the following non-RUNE assets: BTC, ETH, BNB, BCH, LTC.\n\nThe more RUNE hodlers provide liquidity with their RUNE, the more accurate deterministic RUNE becomes. Assuming 80% of circulating RUNE is locked into THORChain, you can simulate various outcomes for RUNE's price based on the future Total Value Locked (TVL) in THORChain and asset prices on that day.\n\n$RUNELOCKED% of circulating RUNE is locked into THORChain."
        if (val)
          this.contents[1].settings.right[1].layers[0].text = text.replace('$RUNELOCKED', val); // the second params should be change with i18n
        else
          this.contents[1].settings.right[1].layers[0].text = text.replace('$RUNELOCKED', old); // the second params should be change with i18n
      }
      catch (e) {
        console.error('can\'t get the values from midgard');
      }
    },
    AllMarkets: function() {
      try {
        this.$set(this.contents[1].settings.right[2].settings, 'AllMarkets', this.AllMarkets)
        this.$set(this.contents[1].settings.right[2].settings, 'pools', this.pools)
        this.$set(this.contents[1].settings.right[2], 'enabaled', true)
      }
      catch (e) {
        console.error('can\'t get the values from coingecko');
      }
    },
    nonRuneTvl: function(val) {
      try {
        // this.contents[1].settings.right[3].layers[1].cols = ['Non-RUNE TVL:' , '$' + val + ' USD']; //alternate version
        this.$set(this.contents[1].settings.right[4].layers[1].cols, 1, '$' + val + ' USD')
      }
      catch (e) {
        console.error('can\'t get the values from midgard');
      }
    },
    circulatingSupplyTxt: function(val) {
      try {
        this.$set(this.contents[1].settings.right[4].layers[2].cols, 1, val + ' RUNE')
      } catch (e) {
        console.error(e)
      }
    },
    dtRunePrice: function(val) {
      try {
        this.$set(this.contents[1].settings.right[4].layers[3].cols, 1, '$' + val + ' USD')
      } catch (e) {
        console.error(e)
      }
    },
    marketTrade: function(vals) {
      try {
        for (let i in vals) {
          this.contents[1].settings.right[7].layers.push({
            component: 'table',
            style: 'border-color: #23DCC8;',
            linkProps: this.$links("coingecko_show_more"),
            cols: [vals[i].market, {text: vals[i].pair, style: 'color: #23DCC8;'}, {text: '$' + vals[i].price, style: 'text-align: center;'}, '$' + vals[i].volume]
          })
        }
        this.contents[1].settings.right[7].layers.push({
          component: 'table',
          cols: ['Data from CoinGecko', {text: 'Show more', linkProps: this.$links("coingecko_show_more"), style: 'text-align: right;'}]
        })
      } catch (e) {
        console.log(e)
      }
    }
  },
}
</script>

<style>

</style>