<template>
  <div class="menu-content-sized-container">
    <sub-main :contents="contents"> </sub-main>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Arbitrageur Tools | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Arbitrageur Tools | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-arbitrageur-tools.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Arbitrageur Tools | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-arbitrageur-tools.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Arbitrageur Tools",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Opportunities",
              text: "The community has developed an arbitraging tool, designed to help you identify a trade opportunity.",
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "RUNE Balance",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Web App", linkProps: this.$links('arbitrageur_tools_rune_balance_web_app')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter", linkProps: this.$links('arbitrageur_tools_rune_balance_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram", linkProps: this.$links('arbitrageur_tools_rune_balance_telegram')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/arbitrageur-tools/runebalance.png"),
                    opacity: 83,
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#384D61",
                      objectFit: "none",
                    },
                  },
                ],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>