<template>
  <div class="halved-container">
    <div class="left-section">
      <text-conent
        :title="settings.left.title || ''"
        :text="settings.left.text || ''"
        :textLeft="true"
      ></text-conent>
      <!-- scroll section -->
      <small-divider v-if="settings.left.title && settings.left.text"></small-divider>
      <scroll-spy v-if="settings.right && settings.right.length > 1" :cards="settings.left.scrolls"></scroll-spy>
    </div>
    <div class="right-section">
      <template v-for="(card, index) in settings.right">
        <a class="anchor-point" 
          :key="'anc-'+index" 
          :id="settings.left && settings.left.scrolls && settings.left.scrolls[index].id"
        ></a>
        <sub-list-view
          v-if="card.component === 'list'"
          :settings="card.settings"
          :key="index"
        ></sub-list-view>
        <sub-lego
          v-if="card.component === 'lego'"
          :settings="card.settings"
          :key="index"
        ></sub-lego>
        <gantt-chart
          v-if="card.component === 'gantt'"
          :settings="card.settings"
          :key="index"
        ></gantt-chart>
        <highlight-cards
          v-if="card.component === 'highlight'"
          :settings="{...card.settings, innerContent: true}"
          :key="index"
        ></highlight-cards>
        <main-card
          v-if="card.component === 'card'"
          :settings="{...card.settings}"
          :key="index"
        ></main-card>
        <component 
          v-if="card.component === 'self' && card.enabaled"
          :is="card.name"
          :settings="card.settings"
          :key="index"
        >
        </component>
        <sub-card-item
          v-else
          :settings="card"
          :key="index"
        ></sub-card-item>
        <card-item-divider v-if="settings.right.length > 0" :key="'divider'+index"></card-item-divider>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    settings: {
      type: Object,
      // left, right[]
    },
  },
};
</script>

<style lang="scss" scoped>
.halved-container {
  display: flex;

  .left-section {
    width: 20.3125rem; //325px when font is 16px
    flex-grow: 0 0 20.3125rem;
  }

  .right-section {
    flex: 1 1;
    max-width: calc(100% - 20.3125rem);

    .anchor-point {
      display: block;
      visibility: hidden;
      pointer-events: none;
      height: 9.375rem;
      margin-top: -9.375rem;
    }
  }
}
</style>