<template>
  <div class="lego-container" :style="rowCal()">
    <div v-for="(item, index) in settings" :key="index" class="grid-item" :style="addStyle(item)">
      <!-- Should compute the component! -->
      <template v-if="item.mode === 'text'">
        <!-- Text component -->
        <text-conent class="main-text" :title="item.title" :text="item.text" :textLeft="true" :key="index"></text-conent>
      </template>
      <template v-else>
        <!-- Active Link component -->
        <active-link :inactive="item.inactive? item.inactive : false" :text="item.text" :key="index" :linkProps="item.linkProps" style="min-height: inherit;"></active-link>
      </template>
    </div>
  </div>
</template>

<script>
import ActiveLink from '../main/ActiveLink.vue';
import TextConent from '../main/textConent.vue';
export default {
  components: { ActiveLink, TextConent },
  props: {
    settings: Array
  },
  methods: {
    addStyle(item) {
      return {
        gridColumn: `${item.colStart} / span ${item.colSpan}`,
        gridRow: `${item.rowStart} / span ${item.rowSpan}`,
      }
    },
    rowCal() {
      return {
        gridTemplateRows: `repeat(${this.settings.some(e => parseInt(e.rowStart) === 2 || parseInt(e.rowSpan) === 2)? 2:1}, minmax(13.0625rem, 1fr))`,
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.lego-container {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.53125rem 1.53125rem;
  margin-bottom: 1.53125rem;

  .grid-item {
    min-height: 13.0625rem;
  }
}
</style>