<template>
  <div class="list-view-container">
    <div v-if="settings.leftSection" class="left-section">
      <text-conent
        :title="settings.leftSection.title"
        :text="settings.leftSection.text"
        :textLeft="true"
      ></text-conent>
    </div>
    <div class="right-section">
      <template v-for="(link, index) in settings.links">
        <gantt
          :key="index"
          :settings="link"
        ></gantt>
        <small-divider 
          :v-if="settings.links.length > 0 && index < settings.links.length - 1"
          :key="index+'divider'"
        >
        </small-divider>
      </template>
    </div>
  </div>
</template>

<script>
import SmallDivider from "../dividers/smallDivider.vue";
import Gantt from "../main/gantt.vue";
import textConent from "../main/textConent.vue";
export default {
  components: { textConent, Gantt, SmallDivider },
  props: {
    settings: {
      type: Object,
    }
  },
};
</script>

<style lang="scss" scoped>
.list-view-container {
  display: flex;
  justify-content: space-between;

  .left-section {
    width: 20.3125rem;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    min-width: 64.125rem;
    width: 100%;
  }
}
</style>