<template>
  <div class="menu-content-sized-container">
    <template v-for="(content, index) in contents">
      <header-content
        v-if="content.component === 'header'"
        :settings="content.settings"
        :key="index"
      ></header-content>
      <sub-lego
        v-if="content.component === 'lego'"
        :settings="content.settings"
        :key="index"
      >
      </sub-lego>
      <sub-list-view
        v-if="content.component === 'list'"
        :settings="content.settings"
        :key="index"
      >
      </sub-list-view>
      <sub-halved
        v-if="content.component === 'halved'"
        :settings="content.settings"
        :key="index"
      ></sub-halved>
      <table-card
        v-if="content.component === 'table'"
        :settings="content.settings"
        :key="index"
      ></table-card>
      <section-divider
        v-if="content.component === 'divider'"
        :key="index"
      >
      </section-divider>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    contents: {
      type: Array,
    }
  }
};
</script>

<style>
</style>