<template>
  <div class="menu-content-sized-container">
    <sub-main :contents="contents"> </sub-main>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Liquidity Provider Tools | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Liquidity Provider Tools | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-interfaces.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Liquidity Provider Tools | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-interfaces.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Liquidity Provider Tools",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Visit Them All",
              text: "The community has developed a variety of liquidity provider tools, so that you can verify your THORChain pooling positions and identify new opportunities.",
              scrolls: [
                { text: "LP Calculator", id: "lp-calculator" },
                { text: "LP University", id: "lp-university" },
                { text: "THORYield", id: "thoryield" },
                { text: "DecentralFi", id: "decentralfi" },
                { text: "THORChain Analytics", id: "thorchain-analytics" },
                { text: "THOR Infobot", id: "thor-infobot" },
              ],
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain LP Calculator",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Web App",linkProps: this.$links('liquidity_provider_tools_lp_forecast_calculator_web_app')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('liquidity_provider_tools_lp_forecast_calculator_discord')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('liquidity_provider_tools_lp_forecast_calculator_twitter')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/liquidity-provider-tools/flipsidecrypto.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#10151A",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "LP University",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('liquidity_provider_tools_lp_university_discord')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('liquidity_provider_tools_lp_university_twitter')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/liquidity-provider-tools/lpu.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background:
                        "linear-gradient(270deg, #32FE9B 18%, #08D2F5 100%)",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORYield",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Web App",linkProps: this.$links('liquidity_provider_tools_thoryield_web_app')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('liquidity_provider_tools_thoryield_twitter')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/liquidity-provider-tools/thoryield.png"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#030613",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "DecentralFi",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Web App",linkProps: this.$links('liquidity_provider_tools_decentralfi_web_app')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('liquidity_provider_tools_decentralfi_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('liquidity_provider_tools_decentralfi_telegram')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "GitLab",linkProps: this.$links('liquidity_provider_tools_decentralfi_gitlab')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Blog",linkProps: this.$links('liquidity_provider_tools_decentralfi_blog')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/liquidity-provider-tools/decentralfi.svg"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#08232D",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'THORChain Analytics',
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'ChaosNet Web App',linkProps: this.$links('liquidity_provider_tools_thorchain_live_chaosnet_web_app')}, {text: 'TestNet Web App',linkProps: this.$links('liquidity_provider_tools_thorchain_live_testnet_web_app')}]
                }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'THOR Infobot',
                },
                {
                  component: 'button',
                  mode: 'full',
                  buttons: [{text: 'Telegram',linkProps: this.$links('liquidity_provider_tools_thor_infobot_telegram')}]
                }],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>