<template>
  <component :is="mode === 'link'? 'extLink' : 'div'"  :linkProps="linkProps" class="active-link-container" :class="{ inactive: inactive, 'link-item': mode === 'link' }">
    <template v-if="mode === 'link'">
      <div class="title">
        <pre>{{text}}</pre>
      </div>
    </template>
    <template v-else-if="mode === 'text'">
      <!-- Text component -->
      <text-conent></text-conent>
    </template>
  </component>
</template>

<script>
import ExtLink from "../main/ExtLink.vue";
import TextConent from './textConent.vue';

export default {
  components: { ExtLink, TextConent },
  props: {
    inactive: { type: Boolean, default: false },
    mode: { type: String, default: "link" },
    text: { type: String, default: "Text" },
    linkProps: { type: Object, default: undefined }
  },
};
</script>

<style lang="scss" scoped>
.active-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 2px solid $thor-blue-color;
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:not(.inactive).link-item {
    &:hover {
      background: $thor-blue-color;
      .title pre {
        color: $thor-semi-dark-color;
      }
    }
  }

  .title pre {
    font-family: 'Roboto';
    font-size: 2.125rem;
    white-space: pre-line;
    font-weight: 900;
    color: $thor-blue-color;
    margin: 0;
  }

  &.inactive {
    cursor: initial;
    border-color: #424a59;

    .title pre {
      color: #424a59;
    }
  }
}
</style>