<template>
  <div class="code-block-container">
    <pre>{{settings.text}}</pre>
  </div>
</template>

<script>
export default {
  props: {
    settings: {
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
.code-block-container {
  width: 100%;
  border-radius: .75rem;
  background: #02121D;
  margin-top: 1.25rem;

  display: flex;
  align-content: center;
  padding-left: 1.75rem;

  pre {
    color: $thor-default-font-color;
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
  }
}
</style>