<template>
  <div class="gantt-chart-container">
    <div
      v-for="(gantt, index) in settings.gantts"
      :key="index"
      class="gantt-item"
      :style="addStyle(gantt)"
    >
      <gantt :settings="{...gantt, mode: 'chart'}"></gantt>
    </div>
  </div>
</template>

<script>
import gantt from './gantt.vue';
export default {
  components: { gantt },
  props: {
    settings: {
      type: Object
    }
  },
  methods: {
    addStyle(item) {
      return {
        gridColumn: `${item.colStart} / span ${item.colSpan}`,
        gridRow: `${item.rowStart} / span ${item.rowSpan}`,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.gantt-chart-container {
  display: grid;
  min-height: 6.25rem;
  min-width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1.25rem 1.25rem;
  margin-bottom: 1.25rem;
}
</style>