<template>
  <div class="gantt-container" :class="{'chart': settings.mode === 'chart', 'linkable': settings.linkProps}" :style="mainStyle()">
    <component :is="settings.linkProps? 'ExtLink' : 'div'" class="gantt-item" :style="duration()" :linkProps="settings.linkProps">
      <div class="colored-edge" :style="{background: settings.background}"></div>
      <div class="gantt-text">
        <span class="title" :style="{color: settings.titleColor}">{{ settings.title }}</span>
        <pre class="text">{{ settings.text }}</pre>
        <pre v-if="settings.mode === 'chart' && settings.extraText" class="extra-text">{{ settings.extraText }}</pre>
      </div>
    </component>
  </div>
</template>

<script>
import ExtLink from './ExtLink.vue';

export default {
  props: {
    settings: {
      type: Object,
      default: {
        length: 5,
        title: "TEXT",
        text: "Text →",
        right: false,
        linkProps: undefined,
        mode: undefined,
        background: undefined,
        extraText: undefined
      },
    },
  },
  components: {
    ExtLink
  },
  methods: {
    duration() {
      return {
        width: `${20 * this.settings.length ?? 100}%`,
        ...this.settings.extraCSS
      };
    },
    mainStyle() {
      return {
        alignItems: this.settings.right? 'flex-end' : 'flex-start',
        '--backgcolor': this.settings.background,
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.gantt-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.25rem;

  &.linkable {
    cursor: pointer;
    
    .gantt-item:hover {
      background: var(--backgcolor);
      padding: 2px 0;
      padding-left: 2px;
      border: none;
      
      .colored-edge {
        top: 0;
        left: 0;
        height: 100%;
      }

      .gantt-text .text, .gantt-text .title, .extra-text {
        color: $thor-dark-color !important;
      }
    }
  }

  &.chart {
    min-height: 6.25rem;
    height: 100%;
    align-items: start;

    .gantt-item {
      border: 2px solid $thor-semi-dark-color;
      background: $thor-semi-dark-color;

      .gantt-text {
        .extra-text, .title {
          color: $thor-default-font-color;
          text-transform: uppercase;
        }

        .text {
          color: $thor-white-color;
        }

        .extra-text {
          font-size: 1.5rem;
          text-transform: initial;
          font-weight: 500;
          line-height: 2rem;
        }
      }

      .colored-edge {
        background: $thor-default-font-color;
      }
    }
  }
  
  &:not(.chart) {
    .gantt-item:hover {
      background: $thor-blue-color;

      .gantt-text {
        color: $thor-dark-color;
      }
    }
  }

  .gantt-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $thor-blue-color;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;

    .gantt-text {
      margin-left: 2.125rem;
      color: $thor-blue-color;

      .title {
        display: block;
        font-weight: bold;
        font-size: 0.875rem;
        margin-bottom: 0.3rem;
      }

      .extra-text, .text {
        font-family: 'Roboto';
        font-size: 1.75rem;
        margin: 0;
      }
    }

    .colored-edge {
      position: absolute;
      background: $thor-blue-color;
      left: -2px;
      top: -2px;
      width: 0.9375rem;
      height: calc(100% + 4px);
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
}
</style>