<template>
  <div class="header-content-container">
    <div class="title-bar">
      <div class="title">
        <h1>{{settings.title}}</h1>
      </div>
      <div class="header-bar"></div>
    </div>
    <template v-if="settings.right || settings.left">
      <switch-button :settings="{mode: 'outlined', left: {text: settings.left.text, linkProps: settings.left.linkProps}, right: {text: settings.right.text, linkProps: settings.right.linkProps}}" style="margin: 0 2.5rem;"></switch-button>
      <div class="header-bar"></div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    settings: {
      default: {
        title: 'Title',
        right: {
          text: 'Option 1',
          link: ''
        },
        left: {
          text: 'Option 1',
          link: ''
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header-content-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  height: 3.4375rem;

  .title-bar {
    display: flex;
    align-items: center;
    flex: 1;

    .title {
      margin-right: 2.5rem;
      
      h1 {
        font-size: 3.375rem;
        font-weight: 900;
        line-height: 3.4375rem;
        color: $thor-white-color;
      }
    }
  }

  .header-bar {
    height: 3px;
    border-radius: 2px;
    flex: 1 0;
    background: linear-gradient(135deg, $thor-left-border-color 0%, $thor-right-border-color 100%);
  }

  .header-bar-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 0;

    .header-bar {
      margin-left: initial;
      flex: 1 0;

      &:first-of-type {
        margin-right: 2.5rem;
      }

      &:last-of-type {
        margin-left: 2.5rem;
      }
    }
  }
}
</style>