<template>
  <component :is="settings.linkProps? 'extLink':'div'" :class="[{'clickable': settings.linkProps},'highlight-container']" :linkProps="settings.linkProps" :style="{backgroundImage: settings.img? `url( ${settings.img} )`: false}">
    <pre>{{settings.text}}</pre>
  </component>
</template>

<script>
import ExtLink from "./ExtLink.vue";

export default {
  props: {
    settings: {
      type: Object
    }
  },
  components: {
    ExtLink
  }
}
</script>

<style lang="scss" scoped>
.highlight-container {
  width: 100%;
  max-width: 20.328125rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1.5625rem 1.875rem;
  height: 27.625rem;
  border-radius: 1.5rem;
  background: $thor-semi-dark-color no-repeat;
  background-size: contain;
  justify-self: center;

  &:hover {
    background-color: rgba(0,0,0,.2);
    background-blend-mode: multiply;
  }

  &.clickable {
    cursor: pointer;
  }

  pre {
    width: 100%;
    color: $thor-white-color;
    font-family: 'Roboto';
    font-size: 1.25rem;
    line-height: 1.465rem;
    font-weight: 700;
    min-height: 1.4375rem;
    margin: 0;
  }
}
</style>