<template>
  <div
    class="button-container"
    :class="[{
      halved: settings.mode === 'halved',
      semi: settings.mode === 'semi',
    }, settings.style]"
    @click="settings.clickEvent && $emit(settings.clickEvent)"
  >
    <ExtLink
      v-for="(button, index) in settings.buttons"
      class="button-item"
      :class="{ inactive: !!button.inactive }"
      :key="index"
      :linkProps="button.linkProps"
    >
      <span>{{ button.text }}</span>
    </ExtLink>
  </div>
</template>

<script>
export default {
  props: {
    settings: {
      type: Object,
      default: {
        mode: "full",
        style: undefined,
        clickEvent: undefined,
        buttons: [
          {
            text: undefined,
            linkProps: undefined,
            inactive: undefined,
          },
        ],
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.small-buttons {
    justify-content: flex-start;

    .button-item {
      padding: 0 1.25rem;
      margin-right: 1.25rem;
      width: initial !important;
    }
  }

  &.white {
    .button-item {
      background: $thor-white-color;
      border: 2px solid $thor-white-color;

      span {
        color: $thor-dark-color;
      }
    }
  }

  &.halved {
    .button-item {
      width: calc(50% - 10px);
    }
  }

  &.semi {
    width: initial;

    .button-item {
      border: 2px solid $thor-blue-color;
      width: initial;
      padding: 1rem 1.1875rem;

      span {
        color: $thor-blue-color;
      }
    }
  }

  &.yellow {
    .button-item {
      background: $thor-yellow-color;
      border: 2px solid $thor-yellow-color;

      span {
        color: $thor-dark-color;
      }
    }
  }

  &:not(.yellow):not(.white) .button-item:hover {
    background: $thor-blue-color;
    span {
      color: #15242e;
    }
  }

  &.yellow .button-item:hover {
    background: transparent;
    span {
      color: $thor-yellow-color;
    }
  }

  &.white .button-item:hover {
    background: transparent;
    span {
      color: $thor-white-color;
    }
  }

  .button-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $thor-blue-color;
    border-radius: 0.5rem;
    width: 100%;
    height: 3.375rem; //no need to change height for adaptive width sizing

    &.inactive {
      border-color: $thor-divider-border-color;
      span {
        color: #15242e;
      }
    }

    span {
      color: $thor-blue-color;
      font-family: "Roboto";
      font-size: 1.125rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-style: normal;
      font-weight: bold;
    }
  }
}
</style>