<template>
  <div class="scroll-spy-container">
    <div class="title">
      <h2>Scroll-to</h2>
    </div>
    <div class="sections">
      <ul>
        <li v-for="(card, index) in cards.filter(e => e.text)"
          class="menu-list"
          :key="index" 
          :id="card.id+'-nav'" 
          @click.prevent="scrollTo(currentPage, card.id)"
        >
          {{card.text}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import smoothscroll from 'smoothscroll-polyfill';

export default {
  props: {
    cards: {
      type: Array
    }
  },
  mounted() {
    this.changeActiveState();
    if (this.$route.hash)
      this.scrollTo(this.currentPage, this.$route.hash.replace('#', '')); //make sure it will go into interface section
  },
  computed: {
    currentPage() {
      return this.$route.path
    },
    ...mapGetters(['scrollY'])
  },
  methods: {
    scrollTo(currentPage, selector) {
      if (!selector) return;
      if (window && document) {
        smoothscroll.polyfill();
        var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;
        let p = document.getElementById(selector)
        let c = document.documentElement.scrollHeight || document.body.scrollHeight;
        let offset = p.offsetTop;
        window.scroll({
          top: offset,
          left: 0,
          behavior: "smooth",
        });
      }
    },
    changeActiveState() {
      if (typeof window !== 'undefined') {
        // We are in the browser
        setTimeout(() => {

          var section = document.querySelectorAll(".anchor-point");
          var sections = [];
          var i = 0;
          let ii = 0;

          Array.prototype.forEach.call(section, function(e) {
            sections.push({offset: e.offsetTop, num: ii, id: e.id});
            ii++;
          });

          window.onscroll = function() {
            var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;

            if(sections.length === 0 ) return
            let section = sections.reduce((p, c) => {
              return c.offset <= scrollPosition + document.querySelector('header').offsetHeight + 1 && p.offset < c.offset ? c : p
            });
            // console.log(section)
            if(document.querySelector(`.menu-list#${section.id}-nav`) && !document.querySelector('.menu-list.active')) {
              console.log('triggred once')
              document.querySelector(`.menu-list#${section.id}-nav`).classList.add('active');
              // location.hash = '#' + section.id;
              history.replaceState(null, null, '#' + section.id);
            }
            else if (document.querySelector(`.menu-list#${section.id}-nav`) && document.querySelector('.menu-list.active').getAttribute('id') && '#' + section.id !== location.hash) {
              console.log('triggred')
              if(document.querySelector(`.menu-list.active`))
                document.querySelector(`.menu-list.active`).classList.remove('active')
              document.querySelector(`.menu-list#${section.id}-nav`).classList.add('active');
              // location.hash = '#' + section.id;
              history.replaceState(null, null, '#' + section.id);
            }
          };
        }, 200)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.scroll-spy-container {
  position: sticky;
  top: 1.5rem;

  .title {
    margin-bottom: 1.1875rem;
    h2 {
      font-family: "Roboto";
      color: $thor-white-color;
      font-style: normal;
      font-weight: bold;
      font-size: 2.125rem;
      line-height: 3.4375rem;
    }
  }

  .sections {
    ul {
      margin: 0;
      padding-left: 1.5rem;

      li {
        cursor: pointer;
        font-size: 1.5rem;
        color: $thor-default-font-color;
        line-height: 2.375rem;

        &.active {
          color: $thor-blue-color;
        }

        &:hover {
          color: $thor-blue-color;
        }
      }
    }
  }
}
</style>
