<template>
  <div class="card-container" :class="{'full': settings.component === 'full', 'imgCard': settings.style === 'img'}">
    <template v-if="settings.component === 'halved'">
      <div class="left-section">
        <!-- this can be dynamic component -->
        <template v-for="(leftItem, index) in settings.left">
          <text-conent
            v-if="leftItem.component === 'text'"
            :key="index"
            :text="leftItem.text"
            :title="leftItem.title"
            :cusotmColor="leftItem.customColor"
          ></text-conent>
          <img
            class="card-img"
            v-if="leftItem.component === 'image'"
            :style="imageStyle(leftItem.opacity, leftItem.positionTop, leftItem.positionRight, leftItem.extraCSS)"
            :src="leftItem.src"
            :key="index"
          />
          <org-button
            v-if="leftItem.component === 'button'"
            :key="index"
            :settings="leftItem"
          ></org-button>
          <table-content
            v-if="leftItem.component === 'table'"
            :key="index"
            :settings="leftItem"
          >
          </table-content>
          <divider
            v-if="leftItem.component === 'divider'"
            :key="index"
          >
          </divider>
          <template v-if="settings.left.length > 0 && index !== settings.left.length-1 && leftItem.component !== 'divider'">
            <small-divider v-if="leftItem.component !== 'text'" :key="'divider'+index">
            </small-divider>
            <div v-if="leftItem.component === 'text' && leftItem.text" class="text-divider" :key="index+'div-sm'"></div>
          </template>
        </template>
      </div>
      <div class="right-section">
        <!-- this can be dynamic component -->
        <template v-for="(rightItem, index) in settings.right">
          <text-conent
            v-if="rightItem.component === 'text'"
            :key="index"
            :text="rightItem.text"
            :title="rightItem.title"
          ></text-conent>
          <img
            class="card-img"
            v-if="rightItem.component === 'image'"
            :style="imageStyle(rightItem.opacity, rightItem.positionTop, rightItem.positionRight, rightItem.extraCSS)"
            :src="rightItem.src"
            :key="index"
          />
          <video-inner-content
            v-if="rightItem.component === 'video'"
            :settings="rightItem"
            :key="index"
          >
          </video-inner-content>
        </template>
      </div>
    </template>
    <template v-if="settings.component === 'full'">
      <img
        class="card-img-contain"
        v-if="settings.style === 'img'"
        :style="imageStyle(settings.opacity, settings.positionTop, settings.positionRight, settings.extraCSS)"
        :src="settings.src"
      />
      <template v-for="(layer, index) in settings.layers">
        <text-conent
          v-if="layer.component === 'text'"
          :key="index"
          :text="layer.text"
          :title="layer.title"
          :customColor="layer.customColor"
        ></text-conent>
        <img
          class="card-img"
          v-if="layer.component === 'image'"
          :style="imageStyle(layer.opacity, layer.positionTop, layer.positionRight, layer.extraCSS)"
          :src="layer.src"
          :key="index"
        />
        <org-button
          v-if="layer.component === 'button'"
          :key="index"
          :settings="layer"
        ></org-button>
        <table-content
          v-if="layer.component === 'table'"
          :key="index"
          :settings="layer"
        >
        </table-content>
        <code-block
          v-if="layer.component === 'code'"
          :key="index"
          :settings="layer.settings"
        >
        </code-block>
        <divider
          v-if="layer.component === 'divider'"
          :key="index"
        >
        </divider>
        <template v-if="settings.layers.length > 0 && index !== settings.layers.length-1 && layer.component !== 'divider'">
          <small-divider v-if="layer.component !== 'text' && settings.layers[index+1].component !== 'code'" :key="'divider'+index">
          </small-divider>
          <div v-if="layer.component === 'text' && layer.text && settings.layers[index+1].component !== 'code'" class="text-divider" :key="index+'div-sm'"></div>
        </template>
      </template>
    </template>
  </div>
</template>

<script>
import Divider from '../dividers/divider.vue';
import SmallDivider from '../dividers/smallDivider.vue';
import ActiveLink from "./ActiveLink.vue";
import Button from "./orgButton.vue";
import TableContent from './tableContent.vue';
import textConent from "./textConent.vue";
export default {
  components: { textConent, ActiveLink, Button, TableContent, SmallDivider, Divider },
  props: {
    settings: {
      type: Object,
      default: {
        component: "full",
      },
    },
  },
  methods: {
    imageStyle(opacity=100, positionTop='0px', positionRight='0px', extraCSS={}) {
      return {
        opacity: opacity,
        objectPosition: `calc( 100% - ${positionRight}) ${positionTop}`,
        ...extraCSS
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.card-container {
  border-radius: 1.5rem;
  width: 100%;
  background: $thor-bg-color;
  display: flex;

  &.imgCard.full {
    position: relative;
    overflow: hidden;

    .card-img-contain {
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      object-fit: none;
      border-radius: 0 1.5rem 1.5rem 0;
    }

    div {
      z-index: 1;
    }
  }

  &.full {
    flex-direction: column;
    padding: 2.5rem;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    width: 34.375rem; //550px
    flex: 0 0 34.375rem;
    padding: 2.5rem;
  }

  .right-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    flex: 1 1 auto;
  }

  .card-img {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 0 1.5rem 1.5rem 0;
  }

  .text-divider {
    height: 2rem;
  }

}
</style>