<template>
  <div
    class="switch-btn-container"
    :class="{ outlined: settings.mode === 'outlined' }"
  >
    <ext-link class="right-btn btn" :class="{'active': isRouteActive(settings.left.linkProps)}" :linkProps="settings.left.linkProps">{{ settings.left.text }}</ext-link>
    <div class="divider" v-if="settings.mode !== 'outlined'"></div>
    <ext-link class="left-btn btn" :class="{'active': isRouteActive(settings.right.linkProps)}" :linkProps="settings.right.linkProps">{{ settings.right.text }}</ext-link>
  </div>
</template>

<script>
import ExtLink from './ExtLink.vue';
export default {
  components: { ExtLink },
  props: {
    settings: {
      type: Object,
    },
  },
  methods: {
    isRouteActive(route) {
      if (route)
        return this.$route.path === route.link;
      return false
    },
  }
};
</script>

<style lang="scss" scoped>
.switch-btn-container {
  display: flex;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: $thor-yellow-color;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    inline-size: min-content;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.125rem;
    width: calc(50% - 2px);
    height: 100%;
    text-align:justify;
    flex: 1;
    padding: 0 1.25rem;
    color: $thor-dark-color;

    &:first-of-type {
      border-radius: .5rem 0 0 .5rem;
    }

    &:last-of-type {
      border-radius: 0 .5rem .5rem 0;
    }

    &:hover {
      background: $thor-white-color;
    }
  }

  .divider {
    width: 1px;
    background: $thor-bg-color;
  }

  &.outlined {
    background: transparent;

    .btn {
      color: $thor-blue-color;
      width: initial;
      
      &:first-of-type {
        border-radius: .5rem 0 0 .5rem;
        border: 2px solid $thor-blue-color;
        border-right: none;
      }

      &:last-of-type {
        border-radius: 0 .5rem .5rem 0;
        border: 2px solid $thor-blue-color;
        border-left: none;
      }

      &:hover,  &.active {
        background: $thor-blue-color;
        color: $thor-dark-color;
      }
    }
  }
}
</style>