<template>
  <div class="text-container" :class="[{'textLeft': textLeft, 'expanded': buttonText}, extraClass]">
    <div class="row-1">
      <h2 v-if="title" class="title" :style="customStyle()">{{ title }}</h2>
      <template v-if="text">
        <pre class="text-content" :style="customStyle()">
          {{text}}
        </pre>
      </template>
    </div>
    <org-button class="content-btn" v-if="buttonText" :settings="{buttons: [{text: buttonText, linkProps: buttonLink}], mode: 'semi', style: 'yellow'}"></org-button>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: undefined,
    },
    text: {
      type: String,
      default: undefined,
    },
    textLeft: {
      type: Boolean,
      default: false
    },
    buttonText: {
      type: String,
      default: undefined 
    },
    buttonLink: {
      type: Object,
      default: undefined
    },
    customColor: {
      type: String,
      default: undefined
    },
    extraClass: {
      type: Array,
      default: undefined
    }
  },
  methods: {
    customStyle() {
      return {
        color: this.customColor
      }
    }
  }
};
</script>

<style lang="scss">
.text-container {
  width: 100%;
  padding-right: 1.2rem;

  &.homepage {
    margin-bottom: .7rem;
  }

  &.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.textLeft {
    width: 19.0625rem;
  }
  
  .title {
    font-family: 'Roboto';
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: $thor-white-color;
    margin-bottom: 1.1875rem; //Calculated from the design
    margin-top: -.35rem;
  }
  
  .text-content {
    margin: 0;
    word-break: break-word;
    white-space: pre-line;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 500;
    color: $thor-default-font-color;
  }
}
</style>