<template>
  <div class="tile-container">
    <ExtLink v-for="(item, index) in settings" :key="index" class="grid-item" :style="addStyle(item)" :class="{'only-title': !item.text, 'link-item': item.linkProps}" :linkProps="item.linkProps">
      <div class="title" :style="{fontSize: item.colSpan >= 2? '2.125rem' : false}">{{item.title}}</div>
      <div v-if="item.text" class="text">
        <pre>{{item.text}}</pre>
      </div>
      <divider class="flex-div" v-if="item.buttons"></divider>
      <template v-for="(btn, index) in item.buttons">
        <org-button :key="index" :settings="{mode: 'full', buttons: [{text: btn.text, linkProps: btn.linkProps}]}"></org-button>
        <small-divider v-if="item.buttons.length - 1 !== index" :key="index+'-div'"></small-divider>
      </template>
    </ExtLink>
  </div>
</template>

<script>
import smallDivider from '../dividers/smallDivider.vue';
export default {
  components: { smallDivider },
  props: {
    settings: Array,
    default: []
  },
  methods: {
    addStyle(item) {
      return {
        gridColumn: `${item.colStart} / span ${item.colSpan}`,
        gridRow: `${item.rowStart} / span ${item.rowSpan}`
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.tile-container {
  display: grid;
  min-height: 43.6875rem;
  min-width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5625rem 1.5625rem;
  margin-bottom: 1.5625rem;

  .grid-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: $thor-semi-dark-color;
    border-radius: 1.5rem;
    padding: 2.5rem;

    &.link-item {
      border: 2px solid $thor-blue-color;
      cursor: pointer;
      transition: all 5ms;

      &:hover {
        background: $thor-blue-color;
        .title, .text pre {
          color: $thor-dark-color;
        }
      }
    }

    .flex-div {
      flex: 1;
    }

    &.only-title {
      align-items: center;
      justify-content: center;
    }

    .title {
      font-size: 1.5rem; // default font size
      color: $thor-blue-color;
      font-weight: 900;
      font-style: normal;
      // line-height: 3.4375rem;
    }

    .text {
      pre {
        color: $thor-default-font-color;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Roboto';
        white-space: pre-line;
      }
    }
  }
}
</style>