<template>
  <div class="menu-content-sized-container">
    <sub-main :contents="contents"> </sub-main>
  </div>
</template>

<script>
export default {
  head: {
    title: 'DAO\'s | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "DAO's | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-daos.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "DAO's | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-daos.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "DAO's",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Organizations",
              text: "Some of the community has organized itself into various DAO's. Discover the one that fits you.",
              scrolls: [
                { text: "THORChads DAO", id: "thorchads-dao" },
                { text: "ShapeShift DAO", id: "shapeshift-dao" },
              ],
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChads DAO",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Web App",linkProps: this.$links('daos_thorchads_web_app')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('daos_thorchads_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('daos_thorchads_telegram')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('daos_thorchads_discord')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Blog",linkProps: this.$links('daos_thorchads_blog')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/daos/thorchads.png"),
                    opacity: 83,
                    positionRight: "-130px",
                    positionTop: "-70px",
                    extraCSS: {
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "ShapeShift DAO",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Website",linkProps: this.$links('daos_shapeshift_website')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Proposals",linkProps: this.$links('daos_shapeshift_proposals')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Forum",linkProps: this.$links('daos_shapeshift_forum')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('daos_shapeshift_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('daos_shapeshift_discord')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/daos/shapeshift.svg"),
                    opacity: 83,
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#0A182E",
                      objectFit: "none",
                    },
                  },
                ],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>