<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
import subMain from "../../components/sub/subMain.vue";

export default {
  head: {
    title: 'Template | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Template | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-template.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Template | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-template.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Text",
            right: { text: "Option 1" },
            left: { text: "Option 2" },
          },
        },
        {
          component: "lego",
          settings: [
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 1,
              colSpan: 1,
              mode: "text",
              title: "Text",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie lectus in pellentesque euismod. \n \n Duis gravida mi orci, a ultricies metus facilisis quis.",
              textLeft: true,
            },
            { rowStart: 1, rowSpan: 1, colStart: 2, colSpan: 1 },
            { rowStart: 2, rowSpan: 1, colStart: 2, colSpan: 1 },
            {
              rowStart: 1,
              rowSpan: 1,
              colStart: 3,
              colSpan: 1,
              inactive: true,
            },
            {
              rowStart: 2,
              rowSpan: 1,
              colStart: 3,
              colSpan: 1,
              inactive: true,
            },
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 4,
              colSpan: 1,
              inactive: false,
            },
          ],
        },
        {
          component: "lego",
          settings: [
            { rowStart: 1, rowSpan: 1, colStart: 1, colSpan: 1 },
            { rowStart: 2, rowSpan: 1, colStart: 1, colSpan: 1 },
            {
              rowStart: 1,
              rowSpan: 1,
              colStart: 2,
              colSpan: 1,
              inactive: true,
            },
            {
              rowStart: 2,
              rowSpan: 1,
              colStart: 2,
              colSpan: 1,
              inactive: true,
            },
            { rowStart: 1, rowSpan: 2, colStart: 3, colSpan: 2 },
          ],
        },
        {
          component: "lego",
          settings: [
            { rowStart: 1, rowSpan: 2, colStart: 1, colSpan: 1 },
            { rowStart: 1, rowSpan: 2, colStart: 2, colSpan: 3 },
          ],
        },
        {
          component: "divider",
        },
        {
          component: "list",
          settings: {
            leftSection: {
              title: "Text",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie lectus in pellentesque euismod. \n \n Duis gravida mi orci, a ultricies metus facilisis quis.",
            },
            links: [
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
              {
                length: 5,
                title: "TEXT",
                text: "Text →",
                right: false,
                linkProps: undefined
              },
            ],
          },
        },
        {
          component: "divider",
        },
        {
          component: "halved",
          settings: {
            left: { 
              title: "Text", 
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie lectus in pellentesque euismod.\n\nDuis gravida mi orci, a ultricies metus facilisis quis.",
              scrolls: [{text: 'Item', id: "item-1"},{text: 'Item', id: "item-2"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"},{text: 'Item', id: "item-3"}]
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Text",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                  },
                  {
                    component: "divider",
                  },
                  {
                    component: "table",
                    cols: ["Left", "Right"],
                  },
                  {
                    component: "button",
                    buttons: [{text: 'button'}]
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/sub-page-template/main.png"),
                    opacity: 83,
                    positionRight: "-130px",
                    positionTop: "-20px",
                  },
                ],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Text',
                  text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum purus.'
                },
                {
                  component: 'divider',
                },
                {
                  component: 'table',
                  cols: ['Text', 'Text', 'Text']
                },
                {
                  component: 'table',
                  cols: ['Text', 'Text', 'Text']
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'button'}, {text: 'button'}]
                },
                {
                  component: 'button',
                  mode: 'halved',
                  buttons: [{text: 'button'}]
                },
                {
                  component: 'button',
                  buttons: [{text: 'button'}]
                }],
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'Text',
                  text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                },
                {
                  component: 'code',
                  settings: {
                    text: '{ "chris" : \n   {"thor": "thor1egxvam70a86jafa3s0m2g3m7548gcg3kqfmfax", \n    "btc" : "bc1qq2z2f4gs4nd7t0a9zzjtegu4nczhajjp90y9l9", \n    "eth" : "0x04c5998ded94f8926e64a99b7dbc9f463370444c", \n    "bch" : "qz7262r7uufxk89emajqm97vskzwtxrf6yquk7zfwr", \n    "ltc" : "ltc1qaa064vvv4d6stgrd3tt93fp6jxywnf777j6dl8", \n    "bnb" : "bnb1pa6hpjs7qv0vkd55n08yw7v7fks5tqa2xtt2gk"} \n}'
                  }
                },
                {
                  component: 'text',
                  text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                }],
              },
              {
                component: "highlight",
                settings: {
                  cards: [
                    {
                      mode: "text",
                      title: "Latest Highlights",
                      text: "The permissionless nature of the protocol gave birth to a fast-growing ecosystem.\n\nCheckout some of the latest community highlights.",
                      //buttonText: "Visit RUNEBase",
                      //buttonLink: this.$links('home_runebase'),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet Unveils\nits $XDEFI Utility Token",
                      img: require("~/assets/images/sub-page-template/thorchain-blank.png"),
                      linkProps: this.$links("slash_technology"),
                    },
                    {
                      mode: "highlight",
                      text: "Get Your Limited\n#RAISETHECAPS cap from\nMetaFactory",
                      img: require("~/assets/images/sub-page-template/thorchain-blank.png"),
                      linkProps: this.$links("slash_technology"),
                    },
                    {
                      mode: "highlight",
                      text: "Get paid up to $500,000\nif you discover bugs\nand vulnerabilities on\nTHORChain.",
                      img: require("~/assets/images/sub-page-template/thorchain-blank.png"),
                      linkProps: this.$links("slash_technology"),
                    },
                    {
                      mode: "highlight",
                      text: "XDEFI Wallet Unveils\nits $XDEFI Utility Token",
                      img: require("~/assets/images/sub-page-template/thorchain-blank.png"),
                      linkProps: this.$links("slash_technology"),
                    },
                    {
                      mode: "highlight",
                      text: "Get Your Limited\n#RAISETHECAPS cap from\nMetaFactory",
                      img: require("~/assets/images/sub-page-template/thorchain-blank.png"),
                      linkProps: this.$links("slash_technology"),
                    },
                  ],
                },
              },
              {
                component: "gantt",
                settings: {
                  gantts: [
                    {
                      colStart: 1,
                      colSpan: 8,
                      rowStart: 1,
                      rowSpan: 1,
                      background:
                        "linear-gradient(180deg, #2FFAA1 0%, #49F0E6 100%)",
                      text: "#ChaosNet",
                      title: "• LIVE",
                      titleColor: "#2FFAA1",
                      extraCSS: {
                        background: "#000b12",
                        borderColor: "#000b12",
                      },
                    },
                    {
                      colStart: 3,
                      colSpan: 6,
                      rowStart: 2,
                      rowSpan: 1,
                      background: "#FFF",
                      text: "#RAISETHECAPS",
                      title: "NEXT RAISE TBD",
                      extraCSS: {
                        background: "#000b12",
                        borderColor: "#000b12",
                      },
                    },
                    {
                      colStart: 9,
                      colSpan: 4,
                      rowStart: 1,
                      rowSpan: 2,
                      background: "#FFF",
                      text: "#MainNet",
                      title: "2022",
                      extraText:
                        "• Caps lifted\n• No admin keys\n• Self-sustained network",
                      extraCSS: {
                        background: "#000b12",
                        borderColor: "#000b12",
                      },
                    },
                  ],
                },
              },
              {
                component: "lego",
                settings: [
                  {
                    rowStart: 1,
                    rowSpan: 1,
                    colStart: 1,
                    colSpan: 1,
                    text: "THORChad",
                    textLeft: true,
                  },
                  {
                    rowStart: 1,
                    rowSpan: 2,
                    colStart: 2,
                    colSpan: 2,
                    text: "Erik's Summary",
                    linkProps: this.$links("getting_started_erik_summary"),
                    inactive: false,
                  },
                  {
                    rowStart: 1,
                    rowSpan: 2,
                    colStart: 4,
                    colSpan: 1,
                    text: "Technology",
                    linkProps: this.$links("slash_technology"),
                    inactive: false,
                  },
                  {
                    rowStart: 2,
                    rowSpan: 1,
                    colStart: 1,
                    colSpan: 1,
                    text: "Network",
                    linkProps: this.$links("slash_network"),
                    inactive: false,
                  },
                ],
              },
              {
                component: "list",
                settings: {
                  links: [
                    {
                      length: 5,
                      title: "TBD",
                      text: "Protocol Owned Liquidity (POL) →",
                      right: false,
                      linkProps: this.$links(
                        "research_labs_twitter_protocol_owned_liquidity"
                      ),
                    },
                    {
                      length: 5,
                      title: "TBD",
                      text: "Protocol Insurance Fund →",
                      right: false,
                      linkProps: this.$links(
                        "research_labs_gitlab_protocol_insurance_fund"
                      ),
                    },
                    {
                      length: 5,
                      title: "TBD",
                      text: "Vault Nodes →",
                      right: false,
                      linkProps: this.$links("research_labs_gitlab_vault_nodes"),
                    },
                    {
                      length: 5,
                      title: "TBD",
                      text: "Lending Model →",
                      right: false,
                      linkProps: this.$links(
                        "research_labs_thorchain_gitlab_lending_model"
                      ),
                    },
                    {
                      length: 5,
                      title: "TBD",
                      text: "Composite Model →",
                      right: false,
                      linkProps: this.$links(
                        "research_labs_thorchain_gitlab_composite_mode"
                      ),
                    },
                  ],
                },
              },
              {
                component: 'card',
                settings: {
                  innerContent: true,
                  title: "Valhalla Awaits",
                  text:
                    "Whether you’re looking to swap your native BTC, ETH/ERC20, LTC, BNB, BCH between one another, or looking to earn yield on your native assets by providing liquidity to pools — valhalla will keep you amazed.\n\nSupporting the following chains:",
                  innerImage: require("~/assets/images/sub-page-template/chains.png"),
                  mainImage: require("~/assets/images/sub-page-template/illustration.png"),
                  buttons: [{ text: "Swap Native", linkProps: this.$links('slash_interfaces')}, { text: "Pool Native", linkProps: this.$links('slash_liquidity_providers')}],
                  extraCSS: {
                    objectFit: 'none',
                  }
                },
              }
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>