<template>
  <div class="menu-content-sized-container">
    <sub-main :contents="contents"> </sub-main>
  </div>
</template>

<script>
export default {
  head: {
    title: 'NFT Collections | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "NFT Collections | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-network-explorers.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "NFT Collections | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-network-explorers.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "NFT Collections",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Collectible",
              text: "The community has developed a variety of NFT collections, some may have even been airdropped to you.",
              scrolls: [
                { text: "THORChain Collectibles", id: "thorchain-collectibles" },
                { text: "THORGuards", id: "thorguards" },
                { text: "PixelTHOR", id: "pixelthor" },
                { text: "THORChain Punks", id: "thorchain-punks" },
                { text: "ROON", id: "roon" }
              ],
            },
            right: [
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain Collectibles",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "OpenSea",linkProps: this.$links('nft_collections_thorchain_collectibles_opensea')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/nft-collections/thorchain-collectibles.png"),
                    positionRight: "50%",
                    positionTop: "10px",
                    extraCSS: {
                      background: "#0A0C1C",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORGuards",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Website",linkProps: this.$links('nft_collections_thorguards_website')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('nft_collections_thorguards_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Discord",linkProps: this.$links('nft_collections_thorguards_discord')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/nft-collections/thorguards.png"),
                    positionRight: "50%",
                    positionTop: "20px",
                    extraCSS: {
                      background: "#000",
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "PixelTHOR",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "OpenSea",linkProps: this.$links('nft_collections_pixelthor_opensea')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('nft_collections_pixelthor_twitter')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('nft_collections_pixelthor_telegram')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/nft-collections/pixelthor.png"),
                    positionRight: "50%",
                    positionTop: "-155px",
                    extraCSS: {
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORChain Punks",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "OpenSea",linkProps: this.$links('nft_collections_thorchain_punks_opensea')}],
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Telegram",linkProps: this.$links('nft_collections_thorchain_punks_telegram')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/nft-collections/thorchain-punks.png"),
                    positionRight: "0px",
                    positionTop: "-205px",
                    extraCSS: {
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "ROON",
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Twitter",linkProps: this.$links('nft_collections_roon_twitter')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/nft-collections/roon.png"),
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      objectFit: "none",
                    },
                  },
                ],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>