$thor-red-color: #FF4954;
$thor-blue-color: #23DCC8;
$thor-green-color: #2FFAA1;
$thor-white-color: #fff;
$thor-yellow-color: #f3ba2f;

$thor-dark-color: #000B12;
$thor-bg-color: #000B12;
$thor-sub-bg-color: #969DAB;
$thor-semi-dark-color: #02121E;

$thor-white-font-color: #d1d5da;
$thor-default-font-color: #4E5C66;
$thor-divider-border-color: #15252E;

$thor-left-border-color: #04AAC7;
$thor-right-border-color: #2FFBA1;