@font-face {
    font-family: 'Roboto Mono';
    src: url("~assets/fonts/RobotoMono.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 500;
    src: url("~assets/fonts/RobotoMono-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("~assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url("~assets/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("~assets/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url("~assets/fonts/Roboto/Roboto-Black.ttf") format('truetype');
}

@font-face {
    font-family: 'Exo 2';
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    src: url("~assets/fonts/Exo2.ttf") format('truetype');
}

@font-face {
    font-family: 'Exo 2';
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: italic;
    src: url("~assets/fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf") format('truetype');
}