* {
  box-sizing: border-box;
}

body {
  -webkit-transform: translate3d(0, 0, 0);
}

p,
h2 {
  margin: 0;
}

header .main-nav {
  .nuxt-link-active {
    color: $thor-blue-color !important;
  }

  .switch-btn-container .btn {
    &.nuxt-link-active {
      color: inherit !important;
      background: $thor-white-color !important;
    }
  }
}
