/*
  Main css of the pages
  Loads on all pages
*/
@import "font"; // font styles
@import "./normalize.css"; // normalize css for cross-browser integrations
@import "general"; // some extra general styles
@import url('https://unpkg.com/maplibre-gl@2.1.1/dist/maplibre-gl.css'); //leaflet map css

html{
    // it fixes few bugs on ipad safari
    font-size: 100%;
    background: $thor-bg-color;
}
.menu-content-sized-container{
    max-width: 86rem;
    min-width: 86rem;
    margin: 0rem auto;
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen
and (min-device-width: 48rem )
and (max-device-width: 64rem )
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
only screen
and (min-device-width: 48rem )
and (max-device-width: 64rem )
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2),
/*iPad Pro 10.5"*/
/* Portrait */
only screen
and (min-device-width: 52.125rem )
and (max-device-width: 52.125rem )
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
/* Landscape */
only screen
and (min-device-width: 69.5rem )
and (max-device-width: 69.5rem )
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2),
/*ipad PRo 12.9"*/
/* Portrait */
only screen
and (min-device-width: 64rem )
and (max-device-width: 64rem )
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
/* Landscape */
only screen
and (min-device-width: 85.375rem )
and (max-device-width: 85.375rem )
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
  .code-snippet{
      font-size: 0.875rem !important;
  }
  .butsir-links a{
  font-size: 0.75rem !important;
  }
  .menu-list {
    padding: 0.75rem 0rem 0.625rem 0rem !important;
  }
}