<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
import subMain from "../../components/sub/subMain.vue";

export default {
  head: {
    title: 'Security & Solvency | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Security & Solvency | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-security-solvency.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Security & Solvency | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-security-solvency.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Security & Solvency"
          },
        },
        {
          component: "lego",
          settings: [
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 1,
              colSpan: 1,
              mode: "text",
              title: "Transparency #1",
              text: "The network is fully transaparent on its security practices. Solvency can be fully verified on-chain. No black boxes.",
              textLeft: true,
            },
            { 
              mode: "link",
              text: "Latest\nSecurity\nUpdate →",
              linkProps: this.$links("security_solvency_halborn_update"),
              inactive: false,
              rowStart: 1, 
              rowSpan: 2, 
              colStart: 2, 
              colSpan: 1 
            },
            { 
              mode: "link",
              text: "Bug Bounty\nProgram →",
              linkProps: this.$links("security_solvency_immunefi_bug_bounty"),
              inactive: false,
              rowStart: 1, 
              rowSpan: 2, 
              colStart: 3, 
              colSpan: 1 
            },
            { 
              mode: "link",
              text: "Verify\nSolvency →",
              linkProps: this.$links("security_solvency_thorchain_network_verify_solvency"),
              inactive: false,
              rowStart: 1, 
              rowSpan: 2, 
              colStart: 4, 
              colSpan: 1 
            },
          ],
        },
      ],
    };
  },
};
</script>

<style>
</style>