<template>
    <div class="holder" ref="holder">
        <youtube class="youtube-video" :video-id="videoId" :player-width="width"
        :player-height="height" @ready="ready" ></youtube>
    </div>
</template>

<script>
export default {
    props: {
        videoId: {
            type: String
        },
        width: {
            type: Number,
            default: 300
        },
        height: {
            type: Number,
            default: 200
        }
    },
    data(){
        return {
            scrollInterval: null
        }
    },
    mounted(){
        var holder = this.$refs['holder']
        if(!holder) return
        this.scrollInterval = setInterval(() => {
            if(window.scrollY >= holder.offsetTop + holder.clientHeight){
                if(this.player)
                    this.player.pauseVideo()
            }
        }, 150)
    },
    beforeDestroy(){
        if(this.scrollInterval)
            clearInterval(this.scrollInterval)
    },
    methods: {
        ready(event){
            this.player = event.target
            this.player.playVideo()
        },
        videoClicked(){
            if(this.player){
                var playerState = this.player.getPlayerState()
                if(playerState == 1) this.player.pauseVideo()
                else this.player.playVideo()
            }
            
        }
    }
}
</script>

<style>
.youtube-video{
    width: 100%;
}
.holder{
    position: relative;
}
.overlay{
    width: 100%;
    height: 70%;
    position: absolute;
    color: white;
    opacity: 50%;
    pointer-events: none;
    z-index: 100;
}
</style>