<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: 'Liquidity Providers | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Liquidity Providers | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-liquidity-providers.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Liquidity Providers | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-liquidity-providers.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: 'header',
          settings: {
            title: 'Liquidity Providers',
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Forecast Returns", id: "forecast-returns" },
                { text: "Videos", id: "videos" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "Supporting Interfaces", id: "supporting-interfaces" },
                { text: "Practice", id: "practice"},
                { text: "Insurance", id: "insurance"},
                { text: "Community", id: "community"},
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/liquidity-providers/main.png"),
                positionRight: "0px",
                positionTop: "20%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "Liquidity providers provide assets to the THORChain liquidity pools. They are compensated with swap fees and system rewards. Compensation is affectedby a number of factors related to the pool and the state of the network.",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Compensation', linkProps: this.$links('liquidity_providers_thorchain_docs_compensation')}, {text: 'How it Works', linkProps: this.$links('liquidity_providers_thorchain_docs_how_it_works')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Factors Affecting Yield', linkProps: this.$links('liquidity_providers_thorchain_docs_factors_affecting_yield')}, {text: 'Requirements & Costs', linkProps: this.$links('liquidity_providers_thorchain_docs_requirements_costs')}]
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Forecast Liquidity Providing Returns",
                    text: "Pick how much you want to invest, select a pool — and see your 90+ day forecast."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'THORChain LP Calculator', linkProps: this.$links('liquidity_providers_lp_forecast_calculator')}]
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/liquidity-providers/flipsidecrypto.svg"),
                    opacity: 83,
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#000B12",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Liquidity Pooling In Depth",
                    text: "Video length: 16m 57s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/liquidity-providers/video-liquidity-pooling-in-depth.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "wBSuPDRc7KY",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Detailed Liquidity Pooling Example",
                    text: "Video length: 11m 14s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/liquidity-providers/video-detailed-liquidity-pooling-example.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "Kzt9SAQRvUQ",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "IL Protection Explained",
                    text: "Video length: 12m 13s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/liquidity-providers/video-il-protection-explained.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "yce7OJ_z57g",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Which Interfaces Support LP’ing?",
                    text: "A variety of ecosystem interfaces support Liquidity Pooling. Compare below, or experiment to discover the interface you’re most comfortable-with."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Compare Interfaces', linkProps: this.$links('slash_interfaces')}, {text: 'ASGARDEX Desktop', linkProps: this.$links('liquidity_providers_asgardex_web_app')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'THORSwap', linkProps: this.$links('liquidity_providers_thorswap_web_app')}, {text: 'SKIP Exchange', linkProps: this.$links('liquidity_providers_skip_web_app')}]
                  }
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Can I Practice Liquidity Pooling?",
                    text: "THORChain has a TestNet where you can experiment without putting any capital at risk.\n\nFirst you’ll need to get yourself some TestNet BNB.RUNE aka tBNB.RUNE. SKIP Exchange has a TestNet version of their interface where you can send yourself the tBNB.RUNE via a tBNB.BNB address.\n\nOnce deposited into your TestNet wallet, you can upgrade your tBNB.RUNE to tTHOR.RUNE (native TestNet RUNE). You may also request other TestNet assets via other faucets i.e. tBTC.BTC, tETH.ETH etc.\n\nWith some TestNet assets loaded in your wallet, you can begin to experiment with Liquidity Pooling or Swapping."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'tBNB.RUNE Faucet Bot', linkProps: this.$links('liquidity_providers_tbnb_rune_faucet_bot')}, {text: 'TestNet SKIP Exchange', linkProps: this.$links('liquidity_providers_skip_testnet_web_app')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Can I Buy Cover for an LP Position?",
                    text: "THORChain cover can be purchased via Nexus Mutual."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Insurance', linkProps: this.$links('slash_insurance')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Is There a Liquidity Provider Community?",
                    text: "LP University has created a great community around Liquidity Pooling and other THORfi products. With over 20,000 members it’s a great place to meet likeminded yield-seekers."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'LP University', linkProps: this.$links('liquidity_providers_lp_university_discord')}]
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  }
}
</script>

<style>

</style>