<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
import utils from "../../../utils"
export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
            {
          thread: false,
          header: {
            text: i18n.t("Getting Started"),
            avatar: require("~/assets/images/home-page/avatar-start.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("THORChain is a complex technology. Get started with Erik Voorhees' summary (ShapeShift founder). It'll be easier to consume the rest.")] },
            {type: 'table-links', links: [
              {text: i18n.t("Erik's Summary"), link: $links('getting_started_erik_summary')},
              {text: i18n.t("Technology"), link: $links('slash_technology')},
              {text: i18n.t("RUNE Token"), link: $links('slash_rune')},
              {text: i18n.t("Network"), link: $links('slash_network')},
              {text: i18n.t("THORFi"), link: $links('slash_thorfi')},
            ]}
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
