<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/node-operators-view/avatar-dollar.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/thorfi-view/thorfi-card.svg"),
                },
                {type: 'table-links', links: [
                  {text: i18n.t("THORfi")}
                ]},
                {type:'text', text: [
                  i18n.t('THORChain is a decentralized liquidity network by design, which enables much more than just swaps -- synthetics, composites and self-paying loans.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Docs ↴")},
                  {text: i18n.t("Liquidity Model"), link: $links('thorfi_thorchain_docs_thorfi_liquidity_model')},
                  {text: i18n.t("Synthetic Asset Model"), link: $links('thorfi_thorchain_docs_thorfi_synthetic_model')},
                  {text: i18n.t("Lending Model"), link: $links('thorfi_thorchain_docs_thorfi_lending_model')},
                  {text: i18n.t("Composite Model"), link: $links('thorfi_thorchain_docs_thorfi_composite_model')}
                ]},
              ],
              endLine: false,
            },
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/thorfi-view/avatar-acro.svg"),
                text: i18n.t("Acro ⚡"),
                usernameAndDate: i18n.t("@flyacro • Sep 19, 2021"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Economic forces that will be responsible the $RUNE price explosion.')
                ]},
                {type:'text', text: [
                  i18n.t('In the light of new developments I would like to revisit the feedback loop and have a look at various economic forces inside and outside of the network that will be responsible for the next 100X on the $RUNE.')
                ]},
                {
                  type: "image",
                  image: require("~/assets/images/thorfi-view/flyacro-economic-forces-card.png"),
                }
              ],
            },
            {
              thread: true,
              small: true,
              header: {
                avatar: require("~/assets/images/thorfi-view/avatar-acro.svg"),
              },
              layers: [
                {
                  type: "text-link",
                  text: i18n.t("homePage.apyCard.lpCardContinueLink"),
                  link: $links("thorfi_flyacro_thread_economic_forces"),
                  style: "color: #1b92da",
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/thorfi_guide.jpeg"),
                  link: true,
                  isYoutube: true,
                  videoId: "qb7NxAbP97U",
                  linkHeader: i18n.t("videoPageMobile.grcVideosThorfiGuide.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosThorfiGuide.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/thorfi_saving.jpeg"),
                  link: true,
                  isYoutube: true,
                  videoId: "qb7NxAbP97U",
                  linkHeader: i18n.t("videoPageMobile.chadLendingSaving.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.chadLendingSaving.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-liquidity-pooling-example.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "Kzt9SAQRvUQ",
                  linkHeader: i18n.t("videoPageMobile.grcVideosLiquidityPoolingExample.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosLiquidityPoolingExample.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-liquidity-pooling-in-depth.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "wBSuPDRc7KY",
                  linkHeader: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-impermanent-loss-protection-explained.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "yce7OJ_z57g",
                  linkHeader: i18n.t("videoPageMobile.grcVideosIlProtection.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosIlProtection.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-synthetics-part-1.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "-ZfIRkKYhO8",
                  linkHeader: i18n.t("videoPageMobile.grcVideosSynthetics1.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosSynthetics1.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-synthetics-part-2.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "nh-Dqln1MeE",
                  linkHeader: i18n.t("videoPageMobile.grcVideosSynthetics2.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosSynthetics2.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-synthetics-part-3.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "dR8s0YeAQ8M",
                  linkHeader: i18n.t("videoPageMobile.grcVideosSynthetics3.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosSynthetics3.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              header: {
                text: i18n.t("Which Interfaces Support THORfi"),
                avatar: require("~/assets/images/home-page/avatar-cursor.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('A variety of ecosystem interfaces support Liquidity Pooling and Synthetics. Discover the interface you\'re most comfortable-with.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Interfaces"), link: $links('slash_interfaces')},
                ]},
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("Is there a THORfi Community?"),
                avatar: require("~/assets/images/liquidity-providers-view/avatar-lp-university.svg")
              },
              layers: [
                {type:'text', text: [
                  i18n.t('LP University has created a great community around Liquidity Pooling and other THORfi products. With over 20,000 members it\'s a great place to meet likeminded yield-seekers.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("LP University"), link: $links('thorfi_lp_university')}
                ]}
              ]
            }
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
