<template>
  <div class="body-container" :class="{'home-body-container': isHomePage}">
    <BaseHeader />
    <div class="page-content" >
      <Nuxt keep-alive :keep-alive-props="{ exclude: ['defaultPage'] }" />
    </div>
    <BaseFooter />
    <!-- <YoutubeOverlay v-show="showYoutubeOverlay" /> -->
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import YoutubeOverlay from "../components/youtube/YoutubeOverlay.vue";
import smoothscroll from 'smoothscroll-polyfill';

export default {
  components: { YoutubeOverlay },
  data(){
    return {
      isHomePage: this.$route.path == "/"
    }
  },
  methods:{
    redirectToMobile(){
      if(process.env.mobileBaseUrl){
        var pathname = window.location.pathname;
        window.location.replace(process.env.mobileBaseUrl + pathname);
      }
      else{
        console.error("No mobile base url is set")
      }
    }
  },
  beforeMount(){
    console.log("before mounting layout")

    /* desktop or mobile*/
    console.log("Screen size is "+window.screen.width+"px")
  },
  mounted () {
    const base = document.createElement('base')
    base.setAttribute('target', '_blank')
    document.head.appendChild(base)
    console.log("showYoutubeOverlay", this.showYoutubeOverlay)
    smoothscroll.polyfill();
  },
  computed: {
    ...mapGetters(['showYoutubeOverlay'])
  },
  watch: {
    $route(to, from) {
      console.log("route changed")
      this.isHomePage= this.$route.path == "/"
    }
  }
}
</script>
<style lang="scss">
/* Maybe font spacing is needed to be specified */
html {
  scroll-behavior: smooth;
}

.body-container {
  font-family: 'Roboto';
  background-color: #02121D;
  min-height: 100vh;
}
.home-body-container{
  background-color: $thor-bg-color;
}
.page-content {
  min-height: 30vh;
  color: $thor-sub-bg-color;
  scroll-behavior: smooth;
}

</style>