<template>
  <sub-main :contents="contents"> </sub-main>
</template>

<script>
export default {
  head: {
    title: 'Document Library | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Document Library | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-document-library.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Document Library | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-document-library.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Document Library",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              title: "Deep Knowledge",
              text: "A breadth of research went into THORChain.\n\nBrowse the library of papers, audits and reports completed by the community and industry enthusiasts.",
              scrolls: [
                { text: "Papers", id: "papers" },
                { text: "Audits", id: "audits" },
                { text: "Reports", id: "reports" },
                { text: "Tip Us", id: "tip-us" },
              ],
            },
            right: [
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Papers",
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Cryptoeconomics Paper', linkProps: this.$links('document_library_github_cryptoeconomics_paper')}, {text: 'TSS Benchmark-GGG18', linkProps: this.$links('document_library_github_tss_benchmark_ggg18')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'TSS Whitepaper', linkProps: this.$links('document_library_github_tss_whitepaper')}, {text: 'Whitepaper', linkProps: this.$links('document_library_github_whitepaper')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Audits",
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Certik Code Review', linkProps: this.$links('document_library_github_certik_code_review')}, {text: 'Kudelski TSS Audit', linkProps: this.$links('document_library_github_kudelski_tss_audit')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Gauntlett Economic Security Review', linkProps: this.$links('document_library_github_gauntlett_economic_security_review')},{text: 'Halborn Security Audit', linkProps: this.$links('document_library_github_halborn_security_audit_july_28_2021_september_6_2021')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Reports",
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Greymatter Research 🔥', linkProps: this.$links('document_library_greymatter_research_report')}, {text: 'Rebase Foundation', linkProps: this.$links('document_library_rebase_foundation_report')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Multicoin Capital', linkProps: this.$links('document_library_mutlicoin_capital_report')}, {text: 'Binance Research', linkProps: this.$links('document_library_binance_research_report')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Erik Voorhees 🔥', linkProps: this.$links('document_library_erik_voorhees_report')}, {text: 'SEBA Bank 🔥', linkProps: this.$links('document_library_seba_bank_report')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Delphi Digital 🔥', linkProps: this.$links('document_library_delphi_digital_report')}, {text: 'Messari 🔥', linkProps: this.$links('document_library_messari_report')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'Coin Bureau', linkProps: this.$links('document_library_coin_bureau_report')}, {text: 'Blockfyre', linkProps: this.$links('document_library_blockfyre_report')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Missing content?",
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Tip us on Twitter', linkProps: this.$links('document_library_skald_feedback')}]
                  },
                ]
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>