<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: "Network | THORChain.org",
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Network | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-network.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Network | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-network.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Network",
          },
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Supporting Interfaces", id: "supporting-interfaces" },
                { text: "Community", id: "community" },
              ],
            },
            right: [
              {
                component: "full",
                style: "img",
                src: require("~/assets/images/network/main.png"),
                positionRight: "-75px",
                positionTop: "100%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "RUNE is the asset which powers the THORChain ecosystem and provides the economic incentives required to secure the network economically.",
                    customColor: "#FFF",
                  },
                  {
                    component: "button",
                    mode: "halved",
                    style: "white",
                    buttons: [
                      {
                        text: "Node Operators",
                        linkProps: this.$links("slash_node_operators"),
                      },
                      {
                        text: "Fees",
                        linkProps: this.$links("network_thorchain_docs_fees"),
                      },
                    ],
                  },
                  {
                    component: "button",
                    mode: "halved",
                    style: "white",
                    buttons: [
                      {
                        text: "Network Explorers",
                        linkProps: this.$links("slash_network_explorers"),
                      },
                      {
                        text: "Prices",
                        linkProps: this.$links("network_thorchain_docs_prices"),
                      },
                    ],
                  },
                  {
                    component: "button",
                    mode: "halved",
                    style: "white",
                    buttons: [
                      {
                        text: "Incentive Pendulum",
                        linkProps: this.$links(
                          "network_thorchain_docs_incentive_pendulum"
                        ),
                      },
                      {
                        text: "Governance",
                        linkProps: this.$links(
                          "network_thorchain_docs_governance"
                        ),
                      },
                    ],
                  },
                  {
                    component: "button",
                    mode: "halved",
                    style: "white",
                    buttons: [
                      {
                        text: "Emissions",
                        linkProps: this.$links(
                          "network_thorchain_docs_emissions"
                        ),
                      },
                      {
                        text: "Name Service",
                        linkProps: this.$links("slash_thornames"),
                      },
                    ],
                  },
                  {
                    component: "button",
                    mode: "halved",
                    style: "white",
                    buttons: [
                      {
                        text: "Schedule",
                        linkProps: this.$links(
                          "network_google_docs_emission_schedule"
                        ),
                      },
                    ],
                  },
                ],
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Which Interfaces Support THORfi?",
                    text: "A variety of ecosystem interfaces support Liquidity Pooling and Synthetics. Discover the interface you’re most comfortable-with.",
                  },
                  {
                    component: "button",
                    mode: "full",
                    buttons: [
                      {
                        text: "Interfaces",
                        linkProps: this.$links("slash_interfaces"),
                      },
                    ],
                  },
                ],
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Is There a THORNode Community?",
                    text: "No there isn't. THORNode operators are anonymous and rely on the update channels and GitLab repositories. THORNodes are advised against public signalling to avoid collusion or capture.",
                  },
                  {
                    component: "button",
                    mode: "full",
                    buttons: [
                      {
                        text: "Developer Discord",
                        linkProps: this.$links("network_discord"),
                      },
                    ],
                  },
                ],
              },
            ],
          },
        },
      ],
    };
  },
};
</script>

<style>
</style>