<template>
  <div class="table">
    <div class="table-head">
      <div class="head-row">
        <span>Current Value:</span>
        <span class="value">{{runePrice}}</span>
      </div>
      <div class="head-row">
        <span>Deterministic Value:</span>
        <span class="value">{{determiniaticVal}}</span>
      </div>
    </div>
    <div class="table-row" v-for="(coin, i) of selectedPools" :key="i">
      <img
        class="asset-icon"
        :src="coingecko[i]['image']"
        :alt="`${coin.selected}-icon`"
      />
      <select v-model="coin.selected" class="coin-select" @change="changeCoin(i)">
        <option
          v-for="option in data.availablePools"
          :key="option.value"
          :value="option.value"
        >
          {{ option.text }}
        </option>
      </select>
      <div class="break"></div>
      <div class="input-container">
        <div>
          <span class="normal-text">Price:</span>
          <input class="input" type="text" :value="coin.multiply" @focus="deleteChars($event, 'multiply', i)" @blur="handleMInput($event, i)">
        </div>
        <div style="width: 1rem; flex-grow: 0;"></div>
        <div>
          <span class="normal-text">TVL:</span>
          <input class="input" type="text" :value="coin.locked" @focus="deleteChars($event, 'locked', i)" @blur="handlePInput($event, i)">
        </div>
      </div>
    </div>
    <div class="btn-actions">
      <button @click="addCoin()">Add Coin</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "simulator",
  props: ["data"],
  components: {},
  data() {
    return {
      selectedPools: [
        {
          selected: "bitcoin",
          thorPool: "BTC.BTC",
          multiply: "1X",
          locked: "1%",
          disabled: true,
        },
        {
          selected: "ethereum",
          thorPool: "ETH.ETH",
          multiply: "1X",
          locked: "1%",
          disabled: true
        }
      ],
    };
  },
  mounted() {
    for (let coin in this.selectedPools) {
      this.baseLocked(coin)
    }
  },
  computed: {
    coingecko: function () {
      let markets = this.data.markets;
      let res = [];
      for (let i in this.selectedPools) {
        console.log(i);
        res.push(markets.find((e) => e.id === this.selectedPools[i].selected));
      }
      return res;
    },
    determiniaticVal: function() {
      if (this.data && this.data.markets) {
        let nonRUNETVL = 0;
        let rune = this.data.markets.find(e => e.id === 'thorchain');
        for (let coinIndex in this.selectedPools) {
          let market = this.data.markets.find(e => e.id === this.selectedPools[coinIndex].selected);
          if (!market)
            continue
          let coin = this.selectedPools[coinIndex];
          nonRUNETVL += (market.circulating_supply * (Number.parseFloat(coin.locked)/100)) * (market.current_price * Number.parseFloat(coin.multiply));
        }
        return '$' + ((((nonRUNETVL + (Number.parseFloat(this.sharedTVL) ?? 0)) * 3) / rune.circulating_supply)).toFixed(2);
      }
      return 'Fetching Data'
    },
    runePrice: function() {
      if (this.data && this.data.markets) {
        return ('$' + this.data.markets?.find(e => e.id === 'thorchain')?.current_price);
      }
      return 'Fetching Data';
    },
    sharedTVL: function() {
      if (this.data.pools) {
        let res = 0;
        let extraAssets = this.data.pools.filter(p => !this.selectedPools.map(m => m.thorPool).includes(p.asset.toUpperCase()))
        for (let pool of extraAssets) {
          res += Number.parseFloat(pool.assetPriceUSD) * (Number.parseFloat(pool.assetDepth)/10**8)
        }
        return res.toFixed(4);
      }
      return 0;
    }
  },
  methods: {
    addCoin() {
      this.selectedPools.push({
        selected: 'binancecoin',
        thorPool: 'BNB.BNB',
        multiply: '1X',
        locked: '1%',
        disabled: false
      })
      this.baseLocked(this.selectedPools.length-1);
    },
    changeCoin(index) {
      let thorPool = this.data?.availablePools?.find(e => e.value === this.selectedPools[index].selected)?.thorPool;
      this.selectedPools[index].thorPool = thorPool;
      this.baseLocked(index);
    },
    baseLocked(index) {
      if (this.selectedPools && this.data && this.data.pools) {
        let thorPool = this.data.pools.find(e => e.asset === this.selectedPools[index].thorPool);
        let market = this.data.markets.find(e => e.id === this.selectedPools[index].selected);
        let assetDepth = Number.parseFloat(thorPool?.assetDepth ?? 0) / 10**8;
        if (assetDepth == 0)
          this.selectedPools[index].locked = '1%' 
        else
          this.selectedPools[index].locked = ((assetDepth / (market?.circulating_supply ?? 1)) * 100).toFixed(4) + '%'
      }
    },
    multiplier(num) {
      num = num.replace(/[^0-9.]+/g, '')
      return num.replace(/^[-+]?(([0-9]*[\.])?[0-9]+)/g, '$1X')
    },
    handleMInput(event, index) {
      this.selectedPools[index].multiply = this.multiplier(event.target.value)
    },
    percenter(num) {
      num = num.replace(/[^0-9.]+/g, '')
      return num.replace(/^[-+]?(([0-9]*[\.])?[0-9]+)/g, '$1%')
    },
    handlePInput(event, index) {
      this.selectedPools[index].locked = this.percenter(event.target.value)
    },
    deleteChars(event, key, index) {
      this.selectedPools[index][key] = event.target.value.replace(/\%|\X/g, '')
    },
  },
};
</script>

<style lang="scss" scoped>
.table {
  .table-head {
    .head-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0.625rem;
      border: 0.0625rem solid #15242e;
      border-radius: 0.375rem;
      padding: 0.375rem 0.625rem;
      font-size: 0.875rem;
      color: #d1d5da;
      justify-content: space-between;

      .value {
        font-family: 'Roboto Mono';
      }
    }
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.625rem;
    border: 0.0625rem solid #15242e;
    border-radius: 0.375rem;
    padding: 0.375rem 0.625rem;

    .asset-icon {
      width: 2rem;
      height: 2rem;
      margin-right: .5rem;
    }

    .break {
      flex-basis: 100%;
      width: 0;
    }

    .normal-text {
      color: #d1d5da;
    }

    .input-container {
      margin-top: .2rem;
      flex: 1;
      justify-content: space-between;
      display: flex;

      > div {
        flex-grow: 1;
        display: flex;

        input {
          margin-left: .3rem;
        }
      }
    }

    select {
      appearance: none;
      grid-template-areas: "select";
      align-items: center;
      cursor: pointer;
      color: #23dcc8;
      text-align: center;
      background-color: #15252e;
      height: 1.5rem;
      border-radius: 0.2rem;
      padding: 0 0.3rem;
      border: none;
      outline: none;
      flex: 1;

      &,
      &::after {
        grid-area: select;
      }

      &::-ms-expand {
        display: none;
      }

      &:focus {
        outline: none;
      }

      &::after {
        display: block;
        content: "";
        width: 0.8rem;
        height: 0.5rem;
        background-color: #23dcc8;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
      }
    }

    input {
      font-family: 'Roboto Mono';
      border-bottom: 2px solid #23dcc8;
      border: none;
      padding: 0 6px;
      border-radius: 0.2rem;
      background-color: #15252e;
      color: #d1d5da;
      flex-grow: 1;
      width: 3rem;
      height: 1.5rem;
      font-weight: 700;
      text-overflow: ellipsis;
      font-size: 0.875rem;

      &:focus {
        outline: none;
      }

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  .btn-actions button {
    padding: 0.375rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    width: 100%;
    background: transparent;
    border-radius: 0.375rem;
    color: #23dcc8;
    text-align: center;
    border: 0.0625rem solid #23dcc8;

    &:active {
      background: rgba(35, 220, 200, 0.113227);
    }
  }
}
</style>