<template>
    <div  v-if="isSidebar" class="sidenav-container">
    <!-- <div v-if="isSidebar" class="backdrop" @click="hideSidebar"></div> -->

      <div class="sidenav">
        <!-- <span @click="hideSidebar">&#128473;</span> -->

        <div class="container">
          <div class="grid">
            <ExtLink  :linkProps="$links('slash_getting_started')" class="card-container">
              <div @click="menuLinkClicked('/getting-started')" class="menu-link-card">
                <img  src="~/assets/images/menu/1.svg" alt="" />
                <div class="card-title">Getting Started</div>
              </div>
            </ExtLink>
            <ExtLink :linkProps="$links('slash_ecosystem')" class="card-container">
              <div @click="menuLinkClicked('/ecosystem')" class="menu-link-card">
              <div class="card-title">Ecosystem</div>
              <img src="~/assets/images/menu/2.svg" alt="" />
              </div>
            </ExtLink>
            <ExtLink :linkProps="$links('slash_document_library')" class="card-container">
              <div @click="menuLinkClicked('/document-library')" class="menu-link-card">
              <div class="card-title">Document Library</div>
              <img src="~/assets/images/menu/3.svg" alt="" />
              </div>
            </ExtLink>
            <ExtLink :linkProps="$links('slash_community_roles')" class="card-container">
              <div @click="menuLinkClicked('/community-roles')" class="menu-link-card">
              <div class="card-title">Community Roles</div>
              <img src="~/assets/images/menu/4.svg" alt="" />
              </div>
            </ExtLink>
            <ExtLink :linkProps="$links('slash_security_solvency')" class="card-container">
              <div @click="menuLinkClicked('/security-solvency')" class="menu-link-card">
              <div class="card-title">Security & Solvency</div>
              <img src="~/assets/images/menu/5.svg" alt="" />
              </div>
            </ExtLink>
            <ExtLink :linkProps="$links('slash_research_labs')" class="card-container">
              <div @click="menuLinkClicked('/research-labs')" class="menu-link-card">
              <div class="card-title">Research Labs</div>
              <img src="~/assets/images/menu/6.svg" alt="" />
              </div>
            </ExtLink>
            <!--<div class="card-container">
              <div class="menu-link-card">
              <img src="~/assets/images/menu/empty.svg" alt="" />
              <div class="card-title card-title-soon">
                <div class="soon-badge">SOON</div>
                Economics
              </div>
              </div>
            </div>
            <nuxt-link :to="localePath('/rune')" class="card-container">
              <div @click="menuLinkClicked('/rune')" class="menu-link-card">

              <div
                class="card-title"
                style="background-color: #000; padding: 0.125rem"
              >
                RUNE
              </div>
              <img src="~/assets/images/menu/rune.svg" alt="" />
              </div>
            </nuxt-link>
            <div class="card-container">
              <img src="~/assets/images/menu/empty.svg" alt="" />

              <div class="card-title card-title-soon">
                <div class="soon-badge">SOON</div>
                Decentralized
              </div>
            </div>
            <div class="card-container">
              <img src="~/assets/images/menu/empty.svg" alt="" />
              <div class="card-title card-title-soon">
                <div class="soon-badge">SOON</div>
                Roles
              </div>
            </div>
            <div class="card-container">
              <img src="~/assets/images/menu/empty.svg" alt="" />
              <div class="card-title card-title-soon">
                <div class="soon-badge">SOON</div>
                Ecosystem
              </div>
            </div>
            <div class="card-container">
              <img src="~/assets/images/menu/empty.svg" alt="" />
              <div class="card-title card-title-soon">
                <div class="soon-badge">SOON</div>
                Community
              </div>
            </div>-->
          </div>
          <div class="link-container">
            <ExtLink :linkProps="$links('nav_docs')" class="link-row">
              <img src="~/assets/images/menu/docs.svg" alt="" />
              <div class="link-text">Docs</div>
            </ExtLink>
            <ExtLink :linkProps="$links('nav_blog')" class="link-row">
              <img src="~/assets/images/menu/blog.svg" alt="" />
              <div class="link-text">Blog</div>
            </ExtLink>
            <ExtLink :linkProps="$links('nav_twitter')" class="link-row">
              <img src="~/assets/images/menu/twitter.svg" alt="" />
              <div class="link-text">Twitter</div>
            </ExtLink>
            <ExtLink :linkProps="$links('nav_gitlab')" class="link-row">
              <img src="~/assets/images/menu/gitlab.svg" alt="" />
              <div class="link-text">GitLab</div>
            </ExtLink>
            <ExtLink :linkProps="$links('nav_telegram_community')" class="link-row">
              <img src="~/assets/images/menu/telegram.svg" alt="" />
              <div class="link-text">Telegram (community)</div>
            </ExtLink>
            <ExtLink :linkProps="$links('nav_dev_discord_community')" class="link-row">
              <img src="~/assets/images/menu/discord.svg" alt="" />
              <div class="link-text">Discord (developers)</div>
            </ExtLink>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import ExtLink from "../../../components/main/ExtLink"
export default {
  components:{
    ExtLink
  },
  methods: {
    hideSidebar() {
      this.$store.dispatch("nav/toggleSidebar");
    },
    menuLinkClicked(routeTo){
      console.log(this.$route.path)
      console.log(routeTo)
      if(this.$route.path == routeTo)
        this.hideSidebar()
      else{
        this.$store.commit('loadingMode', true)
        console.log(this.$store.getters['loadingMode'])
      }
    }
  },

  computed: {
    isSidebar() {
      return this.$store.getters["nav/toggleSidebar"];
    },
  },
};
</script>


<style lang="scss" scoped>
.container {
  height: 100%;
  padding: 0px 0.45rem;
  // display: initial;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.625rem;
    row-gap: 0.625rem;
    .card-container {
      height: max-content;
      position: relative;
      color: white;
      img {
        width: 100%;
        height: 100%;
        padding: 0.125rem ;
      }

      .card-title {
        color: #fff;
        position: absolute;
        bottom: 1.0rem ;
        left: 0.8rem ;
        margin: 0;
        line-height: 0.75rem ;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.0625rem;
      }
      .card-title-soon {
        color: #000b12;
        .soon-badge {
          text-align: left;
          font-size: 0.5625rem;
          font-weight: 700;
          color: #f3ba2f;
          margin-bottom: 0.1rem;
        }
      }
    }
  }
  .link-container {
    text-align: left;
    margin-top: 0.9375rem ;
    .link-row {
      margin-top: 0.9375rem ;
      padding-left: 0.3125rem ;
      display: flex;
      .link-text {
        color: #fff;
        padding-left: 0.9375rem ;
      }
    }
  }
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
}

.sidenav-container {
  height: calc(100vh - 2.875rem);
  width: 100%;
  position: fixed;
  top: 2.875rem;
  overflow: scroll;
  z-index: 10000;
  bottom: 0;
  left: 0;
}

.sidenav {
  width: 100%;
  background-color: #000b12;
  box-sizing: border-box;
  padding: 0.625rem ;
  padding-top: 0;
  max-width: 28.125rem;
  min-height:  calc(100vh - 2.875rem);
  margin: 0 auto;
}

.sidenav span {
  position: absolute;
  right: 1.25rem ;
  top: 1.25rem ;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateY(100%);
}

@media screen and (max-height: 500px) {
  .link-container{
    padding-bottom: 4.5rem;
  }
}
</style>
