<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: 'THORFi | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "THORFi | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-thorfi.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "THORFi | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-thorfi.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: 'header',
          settings: {
            title: 'THORFi'
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Technical Docs", id: "docs" },
                { text: "Feedback Loop", id: "feedback-loop" },
                { text: "Videos", id: "videos" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "", id: "" },
                { text: "Supporting Interfaces", id: "supporting-interfaces" },
                { text: "Community", id: "community" },
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/thorfi/main.png"),
                positionRight: "0px",
                positionTop: "20%",
                extraCSS: {
                  objectFit: "none",
                },
                layers: [
                  {
                    component: "text",
                    title: "Technical Docs",
                    text: "THORChain is a decentralized liquidity network by design, which enables much more than just swaps -- synthetics, composites and self-paying loans.",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Introduction to THORFi', linkProps: this.$links('thorfi_lp_university_introduction')}, {text: '🔥 THORFi Economic Design', linkProps: this.$links('thorfi_economic_design')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Liquidity Model', linkProps: this.$links('thorfi_thorchain_docs_thorfi_liquidity_model')}, {text: 'Lending Model', linkProps: this.$links('thorfi_thorchain_docs_thorfi_lending_model')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    style: 'white',
                    buttons: [{text: 'Synthetic Asset Model', linkProps: this.$links('thorfi_thorchain_docs_thorfi_synthetic_model')}, {text: 'Composite Model', linkProps: this.$links('thorfi_thorchain_docs_thorfi_composite_model')}]
                  }
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Feedback Loop",
                    text: "Economic forces that will be responsible the RUNE price explosion.\n\nIn the light of new developments I would like to revisit the feedback loop and have a look at various economic forces inside and outside of the network that will be responsible for the next 100X on the RUNE."
                  },
                  {
                    component: "button",
                    buttons: [{ text: "Show This Thread",linkProps: this.$links('thorfi_flyacro_thread_economic_forces')}],
                  },
                ],
                right: [
                  {
                    component: "image",
                    src: require("~/assets/images/thorfi/feedback-loop.png"),
                    positionRight: "-75px",
                    positionTop: "0px",
                    extraCSS: {
                      objectFit: "none",
                    },
                  },
                ],
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORFi - The Complete Guide",
                    text: "Video length: 55m 10s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/thorfi_guide.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "qb7NxAbP97U",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#FFF",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORFi Lending/Savings",
                    text: "Video length: 27m 30s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/thorfi_savings.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "1FNrFIXp1xQ",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#FFF",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Liquidity Pooling In Depth",
                    text: "Video length: 16m 57s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-liquidity-pooling-in-depth.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "wBSuPDRc7KY",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "Detailed Liquidity Pooling Example",
                    text: "Video length: 11m 14s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-detailed-liquidity-pooling-example.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "Kzt9SAQRvUQ",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "IL Protection Explained",
                    text: "Video length: 12m 13s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-il-protection-explained.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "yce7OJ_z57g",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORfi Synthetics Part 1: Intro",
                    text: "Video length: 22m 38s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-thorfi-synthetics-part-1.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "-ZfIRkKYhO8",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORfi Synthetics Part 2: Deep Dive",
                    text: "Video length: 11m 14s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-thorfi-synthetics-part-2.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "nh-Dqln1MeE",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "halved",
                left: [
                  {
                    component: "text",
                    title: "THORfi Synthetics Part 3: Conclusion",
                    text: "Video length: 11m 14s"
                  },
                ],
                right: [
                  {
                    component: 'video',
                    image: require("~/assets/images/thorfi/video-thorfi-synthetics-part-3.svg"),
                    link: true,
                    isYoutube: true,
                    videoId: "dR8s0YeAQ8M",
                    positionRight: "50%",
                    positionTop: "50%",
                    extraCSS: {
                      background: "#fff",
                      objectFit: "none",
                    },
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Which Interfaces Support THORfi?",
                    text: "A variety of ecosystem interfaces support Liquidity Pooling and Synthetics. Discover the interface you’re most comfortable-with."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Interfaces', linkProps: this.$links('slash_interfaces')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Is There a THORfi Community?",
                    text: "LP University has created a great community around Liquidity Pooling and other THORfi products. With over 20,000 members it's a great place to meet likeminded yield-seekers."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'LP University', linkProps: this.$links('thorfi_lp_university')}]
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  }
}
</script>

<style>

</style>