<template>
  <sub-main :contents="contents"></sub-main>
</template>

<script>
export default {
  head: {
    title: 'Name Service / THORNames | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Name Service / THORNames | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-thornames.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Name Service / THORNames | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-thornames.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: 'header',
          settings: {
            title: 'Name Service / THORNames'
          }
        },
        {
          component: "halved",
          settings: {
            left: {
              scrolls: [
                { text: "Basics", id: "basics" },
                { text: "Utility", id: "utility" },
                { text: "Interfaces & Wallets", id: "interfaces-wallets" },
                { text: "Bullish Case", id: "bullish-case" },
                { text: "Expiration", id: "expiration" },
                { text: "How to Buy", id: "how-to-buy"},
                { text: "Questions", id: "questions"}
              ],
            },
            right: [
              {
                component: "full",
                style: 'img',
                src: require("~/assets/images/arbitrageurs/main.png"),
                positionRight: "0px",
                positionTop: "100%",
                extraCSS: {
                  objectFit: "initial",
                },
                layers: [
                  {
                    component: "text",
                    title: "Basics",
                    text: "THORNames allow anyone to register cross-chain wallet addresses to a 1-30 long string of hexadecimal characters which include special characters -_+ This makes them compatible to represent emojis ⚡️",
                    customColor: '#FFF'
                  },
                  {
                    component: "button",
                    mode: 'full',
                    style: 'white',
                    buttons: [{text: 'Buy THORNames', linkProps: this.$links('name_service_thornames_web_app')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [{
                  component: 'text',
                  title: 'What’s the Utility of a THORName?',
                  text: 'A THORChain address can be assigned one THORName to manage the other addresses associated. For example: the THORName chris can receive BTC to the chris.btc address, chris.eth to receive ETH and so forth. Wallet providers will easily be able to integrate to resolve cross-chain addresses for a user.'
                },
                {
                  component: 'code',
                  settings: {
                    text: '{ "chris" : \n   {"thor": "thor1egxvam70a86jafa3s0m2g3m7548gcg3kqfmfax", \n    "btc" : "bc1qq2z2f4gs4nd7t0a9zzjtegu4nczhajjp90y9l9", \n    "eth" : "0x04c5998ded94f8926e64a99b7dbc9f463370444c", \n    "bch" : "qz7262r7uufxk89emajqm97vskzwtxrf6yquk7zfwr", \n    "ltc" : "ltc1qaa064vvv4d6stgrd3tt93fp6jxywnf777j6dl8", \n    "bnb" : "bnb1pa6hpjs7qv0vkd55n08yw7v7fks5tqa2xtt2gk"} \n}'
                  }
                },
                {
                  component: 'text',
                  text: 'Currently, there are five native L1 chains available: Bitcoin, Ethereum, Litecoin, Binance, and Bitcoin Cash.'
                }],
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Interfaces & Wallets",
                    text: "List of THORChain ecosystem interfaces and wallets which integrated and resolve THORName addresses."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'THORSwap', linkProps: this.$links('name_service_thorswap')}, {text: 'THORWallet', linkProps: this.$links('name_service_thorwallet')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'XDEFI Wallet', linkProps: this.$links('name_service_xdefi')}]
                  }
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Why Be Bullish on THORNames?"
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Read the Thread on Twitter', linkProps: this.$links('name_service_shft_cntrl_bullish_thornames')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Do THORNames Expire?",
                    text: "Yes, THORName can be registered for up to 10 years and automatically sold to the highest bidder when expired."
                  }
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "How Can I Buy a THORName?",
                    text: "We recommend you make yourself an XDEFI wallet first, then connect to any THORChain interface with XDEFI, and swap some BTC, ETH, LTC, BNB or BCH for some native RUNE, which is required in order a THORName. Then head to THORName website to order yourself available names."
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'XDEFI Wallet', linkProps: this.$links('name_service_xdefi')}, {text: 'ASGARDEX', linkProps: this.$links('name_service_asgardex')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'SKIP', linkProps: this.$links('name_service_skip')}, {text: 'Buy THORNames', linkProps: this.$links('name_service_thornames_web_app')}]
                  },
                  {
                    component: "button",
                    mode: 'halved',
                    buttons: [{text: 'THORSwap', linkProps: this.$links('name_service_thorswap')}]
                  },
                ]
              },
              {
                component: "full",
                layers: [
                  {
                    component: "text",
                    title: "Have Questions?",
                    text: "THORNames were developed by the THORSwap team. Head over to their Discord server for any pre-sale questions."
                  },
                  {
                    component: "button",
                    mode: 'full',
                    buttons: [{text: 'Discord', linkProps: this.$links('name_service_thorswap_discord')}]
                  },
                ]
              },
            ],
          },
        },
      ]
    }
  }
}
</script>

<style>

</style>