<template>
  <div>
    <BaseHeader />
    <TheSideNav />
    <Nuxt class="main-content" />
    <BaseFooterNav />
  </div>
</template>
<script>
import BaseFooterNav from "../components/base/BaseFooterNav.vue";
import BaseHeader from "../components/base/BaseHeader.vue";
import TheSideNav from "~/components/base/TheSideNav";
import StoryCarousel from "~/components/story-carousel/StoryCarousel.vue";
import YoutubeOverlay from "../../components/youtube/YoutubeOverlay.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    BaseFooterNav,
    BaseHeader,
    TheSideNav,
    YoutubeOverlay,
    StoryCarousel
  },
  computed: {
    isSidebar() {
      return this.$store.getters["nav/toggleSidebar"];
    },
    isStoryCardOpen(){
      return this.$store.getters["isStoryCardOpen"]
    }
  },
  watch: {
    $route: function () {
      console.log("loadingMode: " + this.$store.getters['loadingMode'])
      this.$store.commit('loadingMode', false)
      console.log("loadingMode is: " + this.$store.getters['loadingMode'])
      if (process.client && this.isSidebar && window.innerWidth < 768) {
        this.$store.dispatch("nav/toggleSidebar");
      }
    },
    isSidebar(newValue, oldValue){
      if(newValue === true) {
        console.log("Default Layout: Menu is open")
        document.querySelector('body').classList.add('stop-scrolling')
        // document.querySelector('body').addEventListener('touchmove', function(e){e.preventDefault()})
      }
      else{
        console.log("Default Layout: Menu is closed")
        document.querySelector('body').classList.remove('stop-scrolling')
        // $('body').unbind('touchmove')
      }
    },
    isStoryCardOpen(newValue, oldValue){
      if(newValue === true) {
        console.log("Default Layout: Story Card is open")
        document.querySelector('body').classList.add('stop-scrolling')
      }
      else{
        console.log("Default Layout: Story Card is closed")
        document.querySelector('body').classList.remove('stop-scrolling')
      }
    }
  },
  methods:{
    redirectToBaseUrl(){
      if(process.env.baseUrl){
        var pathname = window.location.pathname;
        window.location.replace(process.env.baseUrl + pathname);
      }  else{
      console.error("No desktop base url is set")
      }
    }
  },
  beforeMount(){
    console.log("before mounting layout")
    /* desktop or mobile*/
    console.log("Screen size is "+window.screen.width+"px")
    var anchorsCache = {
      path: null,
      anchors: []
    }
    window.onscroll = ()=>{
      if(this.$route.fullPath != anchorsCache.path){
        var anchors = document.querySelectorAll('a[id]:not([id=""])')
        anchorsCache.path = this.$route.fullPath
        anchorsCache.anchors = anchors
      } else {
        var anchors = anchorsCache.anchors
      }
      for(var i = 0; i < anchors.length; i++){
        if(window.scrollY >= anchors[i].offsetTop && anchors[i+1] && window.scrollY < anchors[i+1].offsetTop){
          if(window.location.hash != anchors[i].id){
            history.pushState(null, null, '#' + anchors[i].id)
          }
        }
        else if(window.scrollY >= anchors[i].offsetTop && !anchors[i+1]){
          if(window.location.hash != anchors[i].id){
            history.pushState(null, null, '#' + anchors[i].id)
          }
        }
      }
    }
  }
};
</script>
<style lang='scss'>
body {
  background-color: #02121d;
}
.bottom-spacing {
  height: 5rem;
}
.main-content{
  // padding-top: 0.313rem;
}
.mobile-layout {
  // position: relative;
  // border:1px solid blue;
  // height: 100%;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
</style>
