<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/arbitrageur-tools/avatar-plusminus.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/arbitrageurs-view/arbitrageurs-card.svg"),
                },
                {type: 'table-links', links: [
                  {text: i18n.t("Arbitrageurs")}
                ]},
                {type:'text', text: [
                  i18n.t('Prices on THORChain are maintained by profit-seeking traders. Traders find assets that are mispriced between markets. They buy assets on markets with low prices and sell them on markets with high prices. This earns them a profit.')
                ]},
                {type:'text', text: [
                  i18n.t('Traders compare the exchange rates on THORChain with the rates on external markets. If they find the price is lower on THORChain they can buy there and sell on an external market. If they find the price is lower on external markets they can buy there and sell on THORChain. This process is repeated at high-frequency. Over time, price information propagates and THORChain settles with external markets.')
                ]},
                {type:'text', text: [
                  i18n.t('This is how THORChain avoids the need for oracles and how prices are set.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Docs ↴")},
                  {text: i18n.t("How it Works"), link: $links('arbitrageurs_thorchain_docs_how_it_works')},
                  {text: i18n.t("Impact of Liquidity"), link: $links('arbitrageurs_thorchain_docs_impact_of_liquidity')}
                ]},
              ]
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/arbitrageurs-view/arbitraging-explained-card.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "eCH_-oiNwmo",
                  linkHeader: i18n.t("THORChain Arbitraging Explained"),
                  linkCaption: i18n.t("Video length: 7m 58s")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              header: {
                text: i18n.t("Is Arbitraging Profitable?"),
                avatar: require("~/assets/images/arbitrageurs-view/avatar-bar-chart.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORChain held a contest in 2020. An analysis of the top arbitrageurs indicated ‘QMJ’ has made over half a million USD profit over a period of 3 months.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Trading Competition Results"), link: $links('arbitrageurs_medium_trading_competition_results')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Arbitraging Bot Development Basics"),
                avatar: require("~/assets/images/arbitrageurs-view/avatar-dev.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('• Import wallet keys locally')
                ]},
                {type:'text', text: [
                  i18n.t('• Compare markets, log opportunities')
                ]},
                {type:'text', text: [
                  i18n.t('• Open and close orders to take trades')
                ]},
                {type:'text', text: [
                  i18n.t('• Log a running PnL')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Connecting to THORChain"), link: $links('arbitrageurs_thorchain_docs_connecting_to_thorchain')},
                  {text: i18n.t("Open-source Bots"), link: $links('arbitrageurs_medium_open_source_bots')}
                ]},
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("Need Funding?"),
                avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Are you a developer / entrepreneur with big ambitions and the necessary skills to write a top-notch arbitraging bot for the THORChain network? Prove it by build a profitable proof of concept. Join the THORChain dev community and show off your work. Maybe you\'ll catch the attention of someone, and be offered a grant to strenghten your operations.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Project Funding"), link: $links('slash_project_funding')}
                ]},
              ]
            },
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
