<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    var activeAsgardVault = $links('viewblock_vault_asgard')
    return {
          posts: [
          {
          thread: false,
          header: {
            text: i18n.t("Community Roles"),
            avatar: require("~/assets/images/home-page/avatar-community.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("If you see the value in decentralizing liquidity, you should join the community.")] },
            {type: 'table-links', links: [
              {text: i18n.t("Arbitrageurs / Traders"), link: $links('slash_arbitrageurs')},
              {text: i18n.t("Creatives"), disable: true, tag: 'soon'},
              {text: i18n.t("Cyber Security Experts"), disable: true, tag: 'soon'},
              {text: i18n.t("Data Analysts"), disable: true, tag: 'soon'},
              {text: i18n.t("Developers"), link: $links('slash_developers')},
              {text: i18n.t("Liquidity Providers"), link: $links('slash_liquidity_providers')},
              {text: i18n.t("Marketers"), disable: true, tag: 'soon'},
              {text: i18n.t("Node Operators"), link: $links('slash_node_operators')}
            ]}
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
