<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/liquidity-providers-view/avatar-liquidity-providers.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/liquidity-providers-view/liquidity-providers-card.svg"),
                },
                {type: 'table-links', links: [
                  {text: i18n.t("Liquidity Providers (LP's)")}
                ]},
                {type:'text', text: [
                  i18n.t('Liquidity providers provide assets to the THORChain liquidity pools. They are compensated with swap fees and system rewards. Compensation is affected by a number of factors related to the pool and the state of the network.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Docs ↴")},
                  {text: i18n.t("Compensation"), link: $links('liquidity_providers_thorchain_docs_compensation')},
                  {text: i18n.t("Factors Affecting Yield"), link: $links('liquidity_providers_thorchain_docs_factors_affecting_yield')},
                  {text: i18n.t("How it Works"), link: $links('liquidity_providers_thorchain_docs_how_it_works')},
                  {text: i18n.t("Requirements & Costs"), link: $links('liquidity_providers_thorchain_docs_requirements_costs')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Forecast Liquidity Providing Returns"),
                avatar: require("~/assets/images/liquidity-providers-view/avatar-flipsidecrypto.svg")
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Pick how much you want to invest, select a pool -- and see your 90+ day forecasts.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("THORChain LP Calculator"), link: $links('liquidity_providers_lp_forecast_calculator')},
                ]}
              ]
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-liquidity-pooling-in-depth.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "wBSuPDRc7KY",
                  linkHeader: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-liquidity-pooling-example.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "Kzt9SAQRvUQ",
                  linkHeader: i18n.t("videoPageMobile.grcVideosLiquidityPoolingExample.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosLiquidityPoolingExample.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-impermanent-loss-protection-explained.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "yce7OJ_z57g",
                  linkHeader: i18n.t("videoPageMobile.grcVideosIlProtection.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosIlProtection.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              header: {
                text: i18n.t("Which Interfaces Support LP'ing?"),
                avatar: require("~/assets/images/home-page/avatar-cursor.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('A variety of ecosystem interfaces support Liquidity Pooling. Compare below, or experiment to discover the interface you\'re most comfortable-with.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Compare Interfaces"), link: $links('slash_interfaces')},
                  {text: i18n.t("THORSwap"), link: $links('liquidity_providers_thorswap_web_app')},
                  {text: i18n.t("ASGARDEX Desktop"), link: $links('liquidity_providers_asgardex_web_app')},
                  {text: i18n.t("SKIP Exchange"), link: $links('liquidity_providers_skip_web_app')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Can I Practice Liquidity Pooling?"),
                avatar: require("~/assets/images/interfaces-view/avatar-skip.svg")
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORChain has a TestNet where you can experiment without putting any capital at risk.')
                ]},
                {type:'text', text: [
                  i18n.t('First you\'ll need to get yourself some TestNet BNB.RUNE aka tBNB.RUNE. SKIP Exchange has a TestNet version of their interface where you can send yourself the tBNB.RUNE via a tBNB.BNB address.')
                ]},
                {type:'text', text: [
                  i18n.t('Once deposited into your TestNet wallet, you can upgrade your tBNB.RUNE to tTHOR.RUNE (native TestNet RUNE). You may also request other TestNet assets via other faucets i.e. tBTC.BTC, tETH.ETH etc.')
                ]},
                {type:'text', text: [
                  i18n.t('With some TestNet assets loaded in your wallet, you can begin to experiment with Liquidity Pooling or Swapping.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("tBNB.RUNE Faucet Bot"), link: $links('liquidity_providers_tbnb_rune_faucet_bot')},
                  {text: i18n.t("TestNet SKIP Exchange"), link: $links('liquidity_providers_skip_testnet_web_app')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Can I Buy Cover for an LP Position?"),
                avatar: require("~/assets/images/insurance-view/avatar-nexus-mutual.svg")
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORChain cover can be purchased via Nexus Mutual.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Insurance"), link: $links('slash_insurance')},
                ]}
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("Is there a Liquidity Provider Community?"),
                avatar: require("~/assets/images/liquidity-providers-view/avatar-lp-university.svg")
              },
              layers: [
                {type:'text', text: [
                  i18n.t('LP University has created a great community around Liquidity Pooling and other THORfi products. With over 20,000 members it\'s a great place to meet likeminded yield-seekers.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("LP University"), link: $links('liquidity_providers_lp_university_discord')}
                ]}
              ]
            }
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
