<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>

export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    return {
          posts: [
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/home-page/avatar-network.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/node-operators-view/thornodes-card.svg"),
                },
                {type: 'table-links', links: [
                  {text: i18n.t("Node Operators")}
                ]},
                {type:'text', text: [
                  i18n.t('THORNodes service the THORChain network. Each THORNode is comprised of several independent servers in a cluster. Node operators are anonymous, distributed around the world.')
                ]},
                {type:'text', text: [
                  i18n.t('Nodes bond their own $RUNE capital to make is safe for Liquidity Providers to pool their assets in the THORChain network. For the network to operate in the optimal state of security, for each unit of pooled capital there are two units of bonded capital.')
                ]},
                {type:'text', text: [
                  i18n.t('This system balance, according to the game theory, disincentivizes anonymous network validators from stealing the assets, as they have more to lose than to gain. While the bonded capital is 100% RUNE, the pooled capital is 50% RUNE and 50% connected assets. Diving deeper into this math 66.7% is bonded and 33.3% is pooled. That puts a tremendous economic pressure on node operators, who are expected to bond 66.7% of the RUNE TVL. Currently this pressure is spread over 36 node operators.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Network Explorers"), link: $links('slash_network_explorers')},
                  {text: i18n.t("Incentive Pendulum"), link: $links('node_operators_thorchain_docs_incentive_pendulum')},
                  {text: i18n.t("Emissions"), link: $links('node_operators_thorchain_docs_emissions')},
                  {text: i18n.t("RUNE Token"), link: $links('slash_rune')},
                ]},
              ]
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-deep-dive-into-thornodes.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "_G8SuXenMus",
                  linkHeader: i18n.t("videoPageMobile.grcVideosThornodes.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosThornodes.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              small: false,
              header: {
                avatar: require("~/assets/images/arbitrageurs-view/avatar-play.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/videos-view/grassrootscrypto-vaults-and-the-incentive-pendulum.svg"),
                  link: true,
                  isYoutube: true,
                  videoId: "dKMCpb4iQQ8",
                  linkHeader: i18n.t("videoPageMobile.grcVideosVaultsIncentivePendulum.linkTitle"),
                  linkCaption: i18n.t("videoPageMobile.grcVideosVaultsIncentivePendulum.linkSubTitle")
                },
              ],
              endLine: false,
            },
            {
              thread: true,
              header: {
                text: i18n.t("What's the Max # of THORNodes?"),
                avatar: require("~/assets/images/tech-view/avatar-tss.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('The network currently operates with 36 THORNodes. At least 24 of them (2/3) need to come together in a TSS ceremony to sign a transaction. With Sharded Vaults, the system could have multiple groups of 24/36 vaults, therefore with 10 vaults the netwrok can do a total of 360 THORNodes.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Technology"), link: $links('slash_technology')},
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("What are Vault Nodes?"),
                avatar: require("~/assets/images/node-operators-view/avatar-danxia.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('While mathematically both bond value and amount of nodes can grow ad infinitum, practically it is not the case, as you do need to be both RUNE wealthy and technically savvy to run a node and there is a technical limit to the number of validator nodes.')
                ]},
                {type:'text', text: [
                  i18n.t('Contrast that with how easy it is to become a liquidity provider and now you understand why liquidity limits are in place and any room to add more is filled very quickly.')
                ]},
                {type:'text', text: [
                  i18n.t('The understanding of this dynamics and practical experience led the big brains behind THORChain design to come up with the concept of vault nodes.')
                ]},
                {type:'text', text: [
                  i18n.t('Vault nodes allow anyone with relatively basic technical skills to bond any amount of RUNE. By doing so, they pay an incredible service to the network, contributing to above mentioned 66.7% of bonded RUNE allowing THORChain TVL to grow.')
                ]},
                {type:'text', text: [
                  i18n.t('They process transactions upon request and are paid for their services. They can come and go at any time. Vault Nodes don’t hold any other funds apart from their own. They contribute to liquidity, but not to network security.')
                ]},
                {type:'text', text: [
                  i18n.t('Their funds never leave their wallet until they execute a swap request. Vault Nodes are not validator nodes, they do not contribute to the network decentralization, they are simply Yggdrasil vaults on steroids.')
                ]},
                {type:'text', text: [
                  i18n.t('Running a light node entails running two daemons, THORNode (full node, non-validator) and Bifröst. No external chains are required.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Twitter Thread by @Danxia_Capital"), link: $links('node_operators_danxia_capital_vault_nodes')},
                  {text: i18n.t("Follow Development"), link: $links('node_operators_gitlab_vault_nodes')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("What Dedication is Required?"),
                avatar: require("~/assets/images/node-operators-view/avatar-clock.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORNode Ops requires skills, resources and dedication to operate. The best operators have extensive knowledge in infrastructure and devops, while serving as a helping hand to the protocol developer community. They\'re also \"on-call\" 24/7/365, as their setup plays an important role in the uptime of the THORChain network.')
                ]},
                {type:'text', text: [
                  i18n.t('Take a look at the THORNode announcement channels to see the pace at which these operators run at.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("ChaosNet Announcement Discord"), link: $links('node_operators_thornode_chaosnet_announcements_discord')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Are THORNodes Profitable?"),
                avatar: require("~/assets/images/node-operators-view/avatar-dollar.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORNode setups range between $1,500 to 2,000 per month in operation costs. As more chains are added to the protocol, the cost of operations are expected to increase.')
                ]},
                {type:'text', text: [
                  i18n.t('More importantly, each node must also bond the minimum amount in order to qualify for a churn into the network. Today that minimum bond is 300,000 RUNE.')
                ]},
                {type:'text', text: [
                  i18n.t('The responsibilities come with rewards. THORNodes can earn up to ~23,000 RUNE per churn.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Bonds & Rewards"), link: $links('node_operators_thormon_web_app')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Can a THORNode Operator Steal?"),
                avatar: require("~/assets/images/node-operators-view/avatar-theft.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('A Yggdrasil is a “hot vault” where some small amount of funds are stored in THORNodes, which allows for faster transactions during swaps. A node operator wouldn’t steal assets from the vault because as an operator, they must bond a minimum amount of RUNE to secure the network. Today the lowest bond is 302,506 RUNE worth $1,990,473 USD.')
                ]},
                {type:'text', text: [
                  i18n.t('If they steal from their own vault, they’d get slashed from their bond 1.5X the amount stolen. They’d lose more than they gained. Makes zero economic sense.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Active Yggdrasil Vaults"), link: $links('node_operators_viewblock_ygg_vaults_mccn')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("How Often Do THORNodes Churn?"),
                avatar: require("~/assets/images/node-operators-view/avatar-rotate.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('As new nodes join/leave the network, this triggers a “churning event”. Which means the list of validators that can commit blocks to the chain changes, and also creates a new Asgard vault, while retiring an old one. All funds in this retiring vault are moved to the new Asgard vault.')
                ]},
                {type:'text', text: [
                  i18n.t('Normally the system churns THORNodes every 3 days (50,000 blocks), ensuring liveness and preventing capture. Although it is possible for it to happen more frequently (such as when a node optionally requests to leave the network using the LEAVE memo).')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Next to Churn"), link: $links('node_operators_thormon_web_app')},
                  {text: i18n.t("Vaults"), link: $links('node_operators_viewblock_ygg_vaults_mccn')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("How to Setup a THORNode?"),
                avatar: require("~/assets/images/node-operators-view/avatar-tools.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('The THORChain network recommends first-time operators to practice on the THORChain TestNet.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Docs ↴")},
                  {text: i18n.t("THORNode Overview"), link: $links('node_operators_thorchain_docs_thornode_overview')},
                  {text: i18n.t("Cluster Launcher"), link: $links('node_operators_thorchain_docs_cluster_launcher')},
                  {text: i18n.t("Deploying"), link: $links('node_operators_thorchain_docs_deploying')},
                  {text: i18n.t("Joining"), link: $links('node_operators_thorchain_docs_joining')},
                  {text: i18n.t("Managing"), link: $links('node_operators_thorchain_docs_managing')},
                  {text: i18n.t("Alerting"), link: $links('node_operators_thorchain_docs_alerting')},
                  {text: i18n.t("Leaving"), link: $links('node_operators_thorchain_docs_leaving')},
                  {text: i18n.t("Emergency Procedures"), link: $links('node_operators_thorchain_docs_emergency_procedures')},
                  {text: i18n.t("Checklist"), link: $links('node_operators_thorchain_docs_checklist')}
                ]},
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("Is There a THORNode Community?"),
                avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('No there isn\'t. THORNode operators are anonymous and rely on the update channels and GitLab repositories. THORNodes are advised against public signalling to avoid collusion or capture.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Developer Discord"), link: $links('node_operators_discord')}
                ]},
              ]
            },
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
