<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("Arbitrageur Tools"),
            avatar: require("~/assets/images/arbitrageur-tools/avatar-plusminus.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("The community has developed an arbitraging tool, designed to help you identify a trade opportunity.")],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/arbitrageur-tools/avatar-runebalance.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/arbitrageur-tools/runebalance-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("RUNE Balance")},
              {text: i18n.t("Web App"), link: $links('arbitrageur_tools_rune_balance_web_app')},
              {text: i18n.t("Twitter"), link: $links('arbitrageur_tools_rune_balance_twitter')},
              {text: i18n.t("Telegram"), link: $links('arbitrageur_tools_rune_balance_telegram')}
            ]},
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
