<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("DAO's"),
            avatar: require("~/assets/images/daos-view/avatar-dao.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("Some of the community has organized itself into various DAO's. Discover the one that fits you.")],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/daos-view/avatar-thorchads.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/daos-view/thorchads-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChads DAO")},
              {text: i18n.t("Web App"), link: $links('daos_thorchads_web_app')},
              {text: i18n.t("Twitter"), link: $links('daos_thorchads_twitter')},
              {text: i18n.t("Telegram"), link: $links('daos_thorchads_telegram')},
              {text: i18n.t("Discord"), link: $links('daos_thorchads_discord')},
              {text: i18n.t("Blog"), link: $links('daos_thorchads_blog')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/interfaces-view/avatar-shapeshift.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/interfaces-view/shapeshift-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("ShapeShift DAO")},
              {text: i18n.t("Website"), link: $links('daos_shapeshift_website')},
              {text: i18n.t("Proposals"), link: $links('daos_shapeshift_proposals')},
              {text: i18n.t("Forum"), link: $links('daos_shapeshift_forum')},
              {text: i18n.t("Twitter"), link: $links('daos_shapeshift_twitter')},
              {text: i18n.t("Discord"), link: $links('daos_shapeshift_discord')}
            ]},
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
