<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
import utils from "../../../utils"

export default {
  data() {

  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n

    var activeAsgardVault = $links('viewblock_vault_asgard')
    return {
          posts: [
            {
              thread: true,
              header: {
                text: i18n.t("Self-Insurance in Development"),
                avatar: require("~/assets/images/home-page/avatar-lab.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORChain is planning on implementing self-insurance in order to create a treasury of protocol-controled-value that can also act as an insurance fund in the event of an exploit. Users are always welcomed to explore 3rd party solutions i.e. Nexus Mutual highlighted below.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Protocol Insurance Fund"), link: $links('insurance_gitlab_protocol_insurance_fund')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                avatar: require("~/assets/images/insurance-view/avatar-nexus-mutual.svg"),
              },
              layers: [
                {
                  type: "image",
                  image: require("~/assets/images/insurance-view/nexus-mutual-card.svg"),
                },
                {type: 'table-links', links: [
                  {text: i18n.t("Nexus Mutual")},
                  {text: i18n.t("Website"), link: $links('insurance_nexus_mutual_website')}
                ]},
                {type:'text', text: [
                  i18n.t('Nexus Mutual provides the most comprehensive cross-chain protection within DeFi, with a record of over ~$2.4M in past payouts across projects.')
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Risks Covered (Updated Sept 28, 2021)"),
                avatar: require("~/assets/images/insurance-view/avatar-document.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('• Code being used in an unintended way')
                ]},
                {type:'text', text: [
                  i18n.t('• Economic design failure')
                ]},
                {type:'text', text: [
                  i18n.t('• Severe oracle failure')
                ]},
                {type:'text', text: [
                  i18n.t('• Governance attacks')
                ]},
                {type:'text', text: [
                  i18n.t('• Protection for assets on Layer 2 solutions')
                ]},
                {type:'text', text: [
                  i18n.t('• Protection for non-Ethereum smart contracts')
                ]},
                {type:'text', text: [
                  i18n.t('• Protection for a protocol across multiple chains')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Yearly Premium ~6%"), link: $links('insurance_nexus_mutual_buy_cover')},
                  {text: i18n.t("Protocol Cover"), link: $links('insurance_nexus_mutual_protocol_cover')},
                  {text: i18n.t("Risk Assessment Resources"), link: $links('insurance_nexus_mutual_risk_assessment_resources')},
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("What Lowers the Premium?"),
                avatar: require("~/assets/images/insurance-view/avatar-arrow-down.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Risk Assessors have to stake NXM to back cover policies, and the more NXM staked against a protocol, custodian, cover product, the lower the premium, down to the 2.6%/annual minimum cost. Read more about cover pricing.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Cover Pricing"), link: $links('insurance_nexus_mutual_cover_pricing')}
                ]},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Stake Against THORChain"),
                avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Risk Assessors can earn NXM rewards for any cover buys on THORChain. Stake against THORChain if you believe the project is trustworthy and has bug-free code. If there is a claim payout however, your NXM can be burned to faciliate the payout.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Stake NXM"), link: $links('insurance_nexus_mutual_stake_nxm')},
                  {text: i18n.t("Statistics"), link: $links('insurance_nexus_mutual_statistics')},
                  {text: i18n.t("Claims History"), link: $links('insurance_nexus_mutual_claims_history')},
                  {text: i18n.t("Risk Assessment Resources"), link: $links('insurance_nexus_mutual_risk_assessment_resources')},
                  {text: i18n.t("THORChain Security"), link: $links('slash_security_solvency')}
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("Why is the Staking APY 0%?"),
                avatar: require("~/assets/images/insurance-view/avatar-question.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('Risk Assessors earn a share of cover premiums when members buy cover for a protocol, custodian, or cover product. ')
                ]},
                {type:'text', text: [
                  i18n.t('If no cover is purchased in the last week, then the APY shows as 0%. As more covered is purchased, the APY shown will increase. ')
                ]}
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("dApps Can Integrate Nexus Mutual"),
                avatar: require("~/assets/images/arbitrageurs-view/avatar-dev.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('THORChain ecosystem dApps can integrate Nexus Mutual Distributor Contract APIs, and offer KYC-free coverage to their users while earning 10% of cover premiums.')
                ]},
                {type: 'table-links', links: [
                  {text: i18n.t("Distributor Contract"), link: $links('insurance_nexus_mutual_distributor_contract')}
                ]}
              ]
            }
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
