<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("Liquidity Provider Tools"),
            avatar: require("~/assets/images/home-page/avatar-cursor.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("The community has developed a variety of liquidity provider tools, so that you can verify your THORChain pooling positions and identify new opportunities.")],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/liquidity-providers-view/avatar-flipsidecrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/liquidity-provider-tools-view/flipsidecrypto-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChain LP Calculator")},
              {text: i18n.t("Web App"), link: $links('liquidity_provider_tools_lp_forecast_calculator_web_app')},
              {text: i18n.t("Discord"), link: $links('liquidity_provider_tools_lp_forecast_calculator_discord')},
              {text: i18n.t("Twitter"), link: $links('liquidity_provider_tools_lp_forecast_calculator_twitter')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/liquidity-provider-tools-view/avatar-lpu.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/liquidity-provider-tools-view/lpu-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("Liquidity Provider University")},
              {text: i18n.t("Discord"), link: $links('liquidity_provider_tools_lp_university_discord')},
              {text: i18n.t("Twitter"), link: $links('liquidity_provider_tools_lp_university_twitter')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/liquidity-provider-tools-view/avatar-thoryield.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/liquidity-provider-tools-view/thoryield-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORYield")},
              {text: i18n.t("Web App"), link: $links('liquidity_provider_tools_thoryield_web_app')},
              {text: i18n.t("Twitter"), link: $links('liquidity_provider_tools_thoryield_twitter')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/liquidity-provider-tools-view/avatar-decentralfi.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/liquidity-provider-tools-view/decentralfi-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("DecentralFi")},
              {text: i18n.t("Web App"), link: $links('liquidity_provider_tools_decentralfi_web_app')},
              {text: i18n.t("Twitter"), link: $links('liquidity_provider_tools_decentralfi_twitter')},
              {text: i18n.t("Telegram"), link: $links('liquidity_provider_tools_decentralfi_telegram')},
              {text: i18n.t("Gitlab"), link: $links('liquidity_provider_tools_decentralfi_gitlab')},
              {text: i18n.t("Blog"), link: $links('liquidity_provider_tools_decentralfi_blog')},
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {type: 'table-links', links: [
              {text: i18n.t("THORChain Analytics")},
              {text: i18n.t("ChaosNet Web App"), link: $links('liquidity_provider_tools_thorchain_live_chaosnet_web_app')},
              {text: i18n.t("TestNet Web App"), link: $links('liquidity_provider_tools_thorchain_live_testnet_web_app')},
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/liquidity-provider-tools-view/avatar-thorchaininfobot.svg"),
          },
          layers: [
            {type: 'table-links', links: [
              {text: i18n.t("THOR Infobot")},
              {text: i18n.t("Telegram"), link: $links('liquidity_provider_tools_thor_infobot_telegram')}
            ]},
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
