<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("NFT Collections"),
            avatar: require("~/assets/images/nft-collections-view/avatar-art.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("The community has developed a variety of NFT collections, some may have even been airdropped to you.")],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/nft-collections-view/thorchain-collectibles-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChain Collectibles")},
              {text: i18n.t("OpenSea"), link: $links('nft_collections_thorchain_collectibles_opensea')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/nft-collections-view/avatar-thorguards.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/nft-collections-view/thorguards-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORGuards")},
              {text: i18n.t("Website"), link: $links('nft_collections_thorguards_website')},
              {text: i18n.t("Twitter"), link: $links('nft_collections_thorguards_twitter')},
              {text: i18n.t("Discord"), link: $links('nft_collections_thorguards_discord')},
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/nft-collections-view/avatar-pixel-thor.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/nft-collections-view/pixel-thor-collection-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("PixelTHOR")},
              {text: i18n.t("OpenSea"), link: $links('nft_collections_pixelthor_opensea')},
              {text: i18n.t("Twitter"), link: $links('nft_collections_pixelthor_twitter')},
              {text: i18n.t("Telegram"), link: $links('nft_collections_pixelthor_telegram')},
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/nft-collections-view/avatar-thorchain-punks.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/nft-collections-view/thorchain-punks-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChain Punks")},
              {text: i18n.t("OpenSea"), link: $links('nft_collections_thorchain_punks_opensea')},
              {text: i18n.t("Telegram"), link: $links('nft_collections_thorchain_punks_telegram')},
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/nft-collections-view/avatar-thorchainplus.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/nft-collections-view/roon-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("ROON")},
              {text: i18n.t("Twitter"), link: $links('nft_collections_roon_twitter')}
            ]},
          ],
          endLine: true,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
