<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("Project Funding"),
            avatar: require("~/assets/images/arbitrageur-tools/avatar-plusminus.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("There are 3 ways for ecosystem projects to get funding: THORChain Treasury, Thorstarter or Community Funding.")],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/project-funding-view/treasury-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChain Treasury")}
            ]},
            {
              type: "text",
              text: [i18n.t("The first and most common way to get your project funded is to build a proof of concept (POC), get some traction within the THORChain ecosystem/community, and develop a proposal for some seed funding by the THORChain treasury.")],
            },
            {
              type: "text",
              text: [i18n.t("Show off your POC on Twitter / Discord (dev community) and get some feedback early from the community. Proposals are welcome in the THORChain Discord dev channels linked above. Many of the ecosystem initiatives have been at least partially funded by the THORChain treasury until they were able to stand on their own feet.")],
            },
            {type: 'table-links', links: [
              {text: i18n.t("Discord"), link: $links('project_funding_thorchain_dev_discord')},
              {text: i18n.t("Blog"), link: $links('project_funding_thorchain_blog')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/project-funding-view/avatar-thorstarter.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/project-funding-view/thorstarter-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("Thorstarter")}
            ]},
            {
              type: "text",
              text: [i18n.t("Thorstarter is an IDO launchpad which launch and help bootstrap liquidity for the most promising projects across DeFi and THORfi. Many THORChain interfaces are planning IDO's with Thorstarter.")],
            },
            {type: 'table-links', links: [
              {text: i18n.t("Website"), link: $links('project_funding_thorstarter_website')},
              {text: i18n.t("Twitter"), link: $links('project_funding_thorstarter_twitter')},
              {text: i18n.t("Telegram"), link: $links('project_funding_thorstarter_telegram')},
              {text: i18n.t("Discord"), link: $links('project_funding_thorstarter_discord')},
              {text: i18n.t("Blog"), link: $links('project_funding_thorstarter_blog')}
            ]},
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/project-funding-view/thorchain-community-card.svg"),
            },
            {type: 'table-links', links: [
              {text: i18n.t("THORChain Community")}
            ]},
            {
              type: "text",
              text: [i18n.t("We've seen cases where community-driven organizations and members fund projects themselves. Be friendly and make friends the community. You never know who you'll cross that mind find your ideas interesting.")],
            },
            {type: 'table-links', links: [
              {text: i18n.t("Telegram"), link: $links('project_funding_thorchain_community_telegram')},
              {text: i18n.t("Discord"), link: $links('project_funding_thorchain_dev_discord')},
            ]},
          ],
          endLine: false,
        },
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>
