<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: [],
    };
  },
  async asyncData({ app, $services, $links }) {
    console.log("AsyncData called");
    var i18n = app.i18n;

    return {
      posts: [
        {
          thread: false,
          header: {
            text: i18n.t("Wallets"),
            avatar: require("~/assets/images/home-page/avatar-cursor.svg"),
          },
          layers: [
            {
              type: "text",
              text: [
                i18n.t(
                  "The community has developed a variety of wallets, each supported by numerous THORChain interfaces."
                ),
              ],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/interfaces-view/avatar-xdefi.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/interfaces-view/xdefi-card.svg"),
            },
            {
              type: "table-links",
              links: [
                { text: i18n.t("XDEFI Wallet") },
                {
                  text: i18n.t("Browser Extension"),
                  link: $links("wallets_xdefi_browser_extension"),
                },
                {
                  text: i18n.t("Twitter"),
                  link: $links("wallets_xdefi_twitter"),
                },
                {
                  text: i18n.t("Telegram"),
                  link: $links("wallets_xdefi_telegram"),
                },
                {
                  text: i18n.t("Discord"),
                  link: $links("wallets_xdefi_discord"),
                },
              ],
            },
            {
              type: "table",
              table: {
                style: "text-align: center",
                rows: [
                  {
                    cols: [
                      { content: "Award", style: "text-align: left" },
                      { content: "Multi-Chain Support", style: "" },
                    ],
                  },
                  {
                    cols: [
                      { content: "Environment", style: "text-align: left" },
                      { content: "Web Desktop / Chrome / Brave", style: "" },
                    ],
                  },
                  {
                    cols: [
                      {
                        content: "Supported Chains",
                        style: "text-align: left",
                      },
                      {
                        content:
                          "BTC / ETH / BNB / BSC / LTC / BCH / MATIC / THOR",
                        style: "",
                      },
                    ],
                  },
                  {
                    cols: [
                      { content: "Ledger Import", style: "text-align: left" },
                      { content: "✅", style: "" },
                    ],
                  },
                  {
                    cols: [
                      {
                        content: "THORName Service",
                        style: "text-align: left",
                      },
                      { content: "✅", style: "" },
                    ],
                  },
                ],
              },
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/wallets-view/avatar-ledger.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/wallets-view/ledger-card.svg"),
            },
            {
              type: "table-links",
              links: [
                { text: i18n.t("Ledger") },
                {
                  text: i18n.t("Discord"),
                  link: $links(
                    "wallets_thorchain_dev_hardware_wallets_discord"
                  ),
                },
              ],
            },
            {
              type: "table",
              table: {
                style: "text-align: center",
                rows: [
                  {
                    cols: [
                      { content: "Environment", style: "text-align: left" },
                      { content: "Hardware / Cold Wallet", style: "" },
                    ],
                  },
                  {
                    cols: [
                      { content: "Installation", style: "text-align: left" },
                      {
                        content:
                          "Enable Developer mode under Experimental features settings",
                        style: "",
                      },
                    ],
                  },
                ],
              },
            },
          ],
          endLine: false,
        },
      ],
    };
  },
};
</script>
<style>
.bottom-spacing {
  height: 5rem;
}
</style>
