<template>
  <sub-main :contents="contents"> </sub-main>
</template>

<script>
export default {
  head: {
    title: 'Getting Started | THORChain.org',
    meta: [
        { property: "og:locale", content: "en_US" },
        { property: "og:type", content: "website" },
        { property: "og:title", content: "Getting Started | THORChain.org" },
        {
          property: "og:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { property: "og:url", content: process.env.baseUrl },
        { property: "og:site_name", content: "THORChain" },
        {
          property: "og:image",
          content: process.env.baseUrl + "/images/meta-getting-started.png",
        },
        { property: "og:image:width", content: "876" },
        { property: "og:image:heigh", content: "438" },
        { name: "twitter:creator", content: "@thorchain" },
        { name: "twitter:site", content: "@thorchain" },
        { name: "twitter:title", content: "Getting Started | THORChain.org" },
        {
          name: "twitter:description",
          content:
            "THORChain aims to decentralize cryptocurrency liquidity via a network of public THORNodes and ecosystem products. Access to its native and cross-chain liquidity is open to any person, product or institution.",
        },
        { name: "twitter:card", content: "summary_large_image" },
        {
          name: "twitter:image",
          content: process.env.baseUrl + "/images/meta-getting-started.png",
        },
      ],
  },
  data() {
    return {
      contents: [
        {
          component: "header",
          settings: {
            title: "Getting Started"
          },
        },
        {
          component: "lego",
          settings: [
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 1,
              colSpan: 1,
              mode: "text",
              title: "Take The Time",
              text: "Going through these topics will help you develop into a THORChad.",
              textLeft: true,
            },
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 2,
              colSpan: 2,
              text:  "Erik's Summary",
              linkProps: this.$links("getting_started_erik_summary"),
              inactive: false
            },
            {
              rowStart: 1,
              rowSpan: 2,
              colStart: 4,
              colSpan: 1,
              text: "Technology",
              linkProps: this.$links("slash_technology"),
              inactive: false
            },
            {
              rowStart: 2,
              rowSpan: 1,
              colStart: 1,
              colSpan: 1,
              text: "Network",
              linkProps: this.$links("slash_network"),
              inactive: false
            },
          ],
        },
        {
          component: "lego",
          settings: [
            {
              rowStart: 1,
              rowSpan: 1,
              colStart: 1,
              colSpan: 2,
              text:  "THORfi",
              linkProps: this.$links("slash_thorfi"),
              inactive: false
            },
            {
              rowStart: 1,
              rowSpan: 1,
              colStart: 3,
              colSpan: 2,
              text: "RUNE Token",
              linkProps: this.$links("slash_rune"),
              inactive: false
            },
          ],
        },
      ],
    };
  },
};
</script>

<style>
</style>